[2016-03-05 05:54] duaraghav8 opened #1 "Repository Structure"
I propose the following structure for this repo:
It must be divided into 2 directories:
**1. CommonJS
2. AMD**

The former would contain modules following CJS pattern (server-side JS Code, i.e., Node.js) and the latter, AMD (client-side JS Code).

for example: if A Star Search Code needs **argmax ()** functionality from utils.js, the CJS version of search.js (the file which contains the A-Star Sea

[2016-03-05 06:57] norvig commented on #1
I have very little javascript experience, but my inclination would be to not use Node.js or any other server-side framework; rather I would prefer to have the hole thing client side, for example with jQuery. I could be convinced that server-side code is necessary, but for now I don't see it -- we don't need to keep a database; we just need to run demos in the browser.

[2016-03-05 07:22] duaraghav8 commented on #1
I see your point Mr. Norvig. Going by your approach, we will have **2 parts to each algorithm** in the book:
1. The Implementation of the algorithm itself (written in core JS)
2. An HTML Document containing the algorithm's visualization (written in JQuery & D3).

This way, the user can see the basic algorithm implementation without any added complexities and visualize it side-by-side.

[2016-03-05 07:46] prabod opened #2 "javascript repo"
I myself started a repo few days ago for javascript implementations of the book. if it is up to standard i would like to contribute that to this repo

https://github.com/prabod/aima-Javascript

[2016-03-05 12:48] Ghost---Shadow commented on #1
Since we are going to see javascript on action anyway, I suggest we make gh-pages branch. It will have the explanation in HTML and some neat and colourful output of the algorithms on HTML5 canvas.

[2016-03-06 11:02] Ghost---Shadow opened #5 "HTML5 canvas visualization and formation of gh-pages"
Printing output on the console is fine but for better understanding, I think it is a good idea visualize each and every problem using interactive HTML5 canvas.

The code will be embedded alongside the output in the HTML page. Then we can create a gh-pages branch so that github can do the work of hosting the pages by itself.

[2016-03-07 04:50] duaraghav8 opened #10 "Travis Cl build keeps failing"
I'm not really familiar with travis. For some reason, the pull requests keep failing Travis checks. Does anybody have an idea why this might be happening?

[2016-03-07 05:14] prabod commented on #10
you have to specify tests to build. i have added travis.yml file via a PR.

[2016-03-07 16:49] #5 closed

[2016-03-08 03:53] duaraghav8 commented on #10
Ok, thanks

[2016-03-08 03:53] #10 closed

[2016-03-08 07:26] Ghost---Shadow opened #13 "We should use two.js to make the visualizations."
https://jonobr1.github.io/two.js/

two.js is a very popular javascript graphics library. It is used a lot in chrome experiments. It supports WebGL which we might need if we make a any visualizations with large number of sprites.

https://www.chromeexperiments.com/

[2016-03-14 04:57] norvig commented on #13
two.js looks pretty good. I've heard recommendations for other packages as well, such as d3.js. I don;t know enough to choose between them; happy to see what you come up with,

[2016-03-14 22:36] kepta commented on #1
Hello everyone,
First of all, this is an awesome project!!
I would like to share my knowledge regarding the architecture of this repository.

Any modern Javascript app requires nodeJS / NPM for the development process.
Even if you want to build a completely front-end app with no nodeJS code, you will still require to
1. `npm init`

[2016-03-14 23:13] kepta opened #18 "unfinished git merge logs in code"
Currently the package.json file is having
- unfinished merge diffs
- linking to a personal repository
- an author

[2016-03-15 17:58] Ghost---Shadow opened #21 "What about chapters without any pseudocode?"
Not all chapters have pseudocode, but I think we should keep the directory for completeness sake. However the question remains, what are we going to put in the html page in directories for those chapters?

Maybe a brief explanation or a few paragraphs on the topic would be nice.

[2016-03-15 20:50] norvig commented on #21
There could still be demo programs of the concepts in the chapter.

[2016-03-16 04:03] #2 closed

[2016-03-16 16:16] #13 closed

[2016-03-16 16:16] #21 closed

[2016-03-16 16:33] Ghost---Shadow commented on #1
I envisioned having a HTML file and a few js files in each directory. Making a single page website was not what I was hoping for.

We are going to have hundreds of scripts, each having hundreds of lines. All of them need not be loaded into a single page every single time. I think it would have the opposite effect and slow the website down.

[2016-03-16 16:41] kepta commented on #1
I don't think even having hundreds of script would have any significant impact in load time.
The vendor bundles contain thousands of small files and gets compressed down.

And if it still concerns you we can have code splitting and have multiple bundles to load asynchronously.

[2016-03-16 16:42] Ghost---Shadow commented on #1
Also, we do not want to obfuscate the code which we are trying to open source. The js files implementing the algorithms should be kept away from gulp.

[2016-03-16 16:49] kepta commented on #1
Well I don't understand with what you mean by obfuscating the code.
If that is about compressing and uglifying, that is build step which is used by all modern web applications. To view source code you hit the repository.
You can right click and inspect any modern website and find the code 'obfuscated', including the open source ones.
https://engineeredweb.com/blog/why-minify-javascript/

[2016-03-16 17:01] Ghost---Shadow commented on #1
I see your point about minifying code. Now, should we shoot for a single page app or a structured one?

[2016-03-16 17:32] duaraghav8 commented on #1
Aren't we focusing too much on the app? I mean, the goal is to write working implementations of the algorithms and their visualizations. So when I uploaded Minimax, I simply put it Under "Chapter 5/Minimax". I didn't spend too much time on site structure.

Now, given that, I completely agree that the user needs to be given a clean interface, so the site is an essential part. But all I'm saying is

[2016-03-16 17:43] Ghost---Shadow commented on #1
I agree with having a easy to understand directory structure too. However the gulp build kind of broke that (just click on any link). The project will definitely be too big for a single page app.

It is only 16th March, I think we have enough time to set some basic rules before we start the grunt work. Once we start it, re-factoring would be a huge pain.

I really like the idea about compressing c

[2016-03-16 17:48] kepta commented on #1
I don't understand how having compressing the code and having a proper build step has to do with writing algorithms and visualisations.

[2016-03-16 17:51] Ghost---Shadow commented on #1
We or at least I am not used to such web developments. I am trying hard to keep and open mind about it.

Look at this [web page] (http://www.geeksforgeeks.org/greedy-algorithms-set-3-huffman-coding/)
I kind of have this in my mind as the finished product. The HTML page would load the javascript as text and also as executable to animate the HTML5 canvas. So if we compress the executable, it would o

[2016-03-16 18:00] duaraghav8 commented on #1
@Kepta My point is that we're having too much discussion about the App. App is not the main thing here. I'm not against Compression and Build Features, I was just suggesting that that's not the focus point here. Also, I'm not very well versed with JSPM. So if you can handle the whole Build Part, then go ahead! Even I'll get to learn more from you (but I won't be able to contribute in that part).

[2016-03-16 18:09] Ghost---Shadow commented on #1
I cant effectively start working before we have finalized the website structure.

I have to admit I am hearing the names gulp, jspm, .travis for the first time in my life but I expected that to happen. So, I am trying my best to adopt them.

[2016-03-16 18:15] kepta commented on #1
@Ghost---Shadow, I am yet not clear what the author wants and how he wants to see the app.
I would wait for him to reply..

Mean while, why don't you have a look at modern web development. I can help you with that.
- [This](https://medium.com/@ryanflorence/welcome-to-future-of-web-application-delivery-9750b7564d9f#.jhj8klt9m) should get you started.
- ES6/ES2015 and babel
- Pick a framework like R

[2016-03-17 02:11] Ghost---Shadow commented on #1
If we are making a multi page app, is there any clever way to move the html files from each folder to the build directory, or do I have to do something like this and call `gulp copy` before every build?

[code]

[2016-03-20 00:31] norvig opened #25 "gh-pages"
I'm new to gh-pages, so I don't understand how it woeks.
- Does it have to be re-generated every time there is a change to master branch?
- How do I see the resulting pages?

[2016-03-20 00:34] norvig commented on #25
I see; the answer to (2) is http://aimacode.github.io/aima-javascript/

[2016-03-20 00:45] kepta commented on #25
@norvig we should all discuss before you merge a PR.

It's good to get a PR reviewed before it gets merged.

[2016-03-20 00:50] kepta commented on #25
@norvig you need to run
`gulp bundle`
then
`gulp deploy`

to deploy gh-pages.

[2016-03-20 00:55] norvig commented on #25
Thanks!

On Sat, Mar 19, 2016, 5:50 PM Kushan Joshi <notifications@github.com> wrote:

[2016-03-20 01:46] Ghost---Shadow commented on #25
If you are still having problems, you should take a look at [this](https://github.com/shinnn/gulp-gh-pages/issues/87).

[2016-03-20 02:25] Ghost---Shadow opened #26 "Requiring external module babel-register takes a long time"
I am new to gulp, whenever I run `gulp SOME_TASK` it says "require external module babel-register". This takes a solid 20 seconds or so. The actual task takes milliseconds to complete.

What is happening here? How do I fix it? What is this babel-register?

I tried `npm install babel-register` and also tried installing `npm3`. It did not fix the problem.

I followed [this](https://www.youtube.com/w

[2016-03-20 06:53] Ghost---Shadow opened #27 "Division of work"
**If you are applying to Google Summer of Code, do not work on any issues before reading the wiki**.

If you want to work on a chapter, request it here.

| Chapter | Volunteers           | Discussion page |
| ------------- |-------------|---------|
| 1     | |  |
| 2     |  | #77    |
| 3|     |   #57 |
| 4| @merovingienne      |   #58 |
| 5 | @ishapotnis1, @regalhotpocket  | #72 |
| 6|     | #88

[2016-03-20 08:36] kepta commented on #27
Before that you souradeep let us please decide about the architecture, because I don't want you to be rolling back your efforts.

[2016-03-20 09:46] norvig commented on #26
Can you say what you learned from the tutorial?

[2016-03-20 12:03] astyanax commented on #27
Hello guys, I haven't actively participated in the discussions yet although I'm interested to work on the planning chapter (for a start).

[2016-03-20 12:56] duaraghav8 commented on #27
@kepta @Ghost---Shadow Alright let's do it this way. We all propose our structure with Point-by-Point Adv. & Disadv. Then we'll put it to a vote. Otherwise we're going to spend a lot of time discussing this.

@astyanax we're currently trying to decide upon the repo structure in order to avoid goof ups later. You too can contribute your perspective.
The goal is: for every algorithm in the book: we

[2016-03-20 13:14] Ghost---Shadow commented on #26
The tutor did not use `jspm.bundleSFX` he used a function called `uglify`

[2016-03-20 13:28] Ghost---Shadow commented on #27
I suggest that we uglify and compress all the scripts that are common to all pages (bootstrap, jQuery etc) as `main.js`

We will then have a folder for each chapter having code and its visualization. We may or may not uglify these scripts. Something like [this](http://ghost---shadow.github.io/aima-javascript/2-Intelligent-Agents/).

The main [index.html](http://ghost---shadow.github.io/aima-javasc

[2016-03-21 18:37] norvig commented on #25
@kepta, I've done a bunch of npm installs, and I think I have all the deprecated packages updated, but I still get "No gulpfile found". Can you give me complete instructions and how to do gulp bundle/deploy? Thanks!

[2016-03-21 21:35] norvig commented on #26
I too am having a hard time setting up gulp.

[2016-03-22 01:35] Ghost---Shadow commented on #25
You should try re cloning the project, maybe one of the config files got corrupted.

[2016-04-03 05:28] Ghost---Shadow commented on #26
I researched gulp and npm a bit more, the problems seems to stem from [ES2015].(https://babeljs.io/docs/learn-es2015/)

I dont know if we are using it anywhere. In the mean time, I will try to safely remove it and see if it fixes the problem.

[2016-04-03 12:58] GiriB commented on #27
Hey guys! I was just going through the project and would like to contribute.
I agree with @Ghost---Shadow on having separate visualisation files and how he has proposed the structure to be. It would be helpful if the structure is finalised  ( with few examples? @Ghost---Shadow  's implementation of [Intelligent Agents](http://ghost---shadow.github.io/aima-javascript/2-Intelligent-Agents/) is a goo

[2016-04-03 13:59] duaraghav8 commented on #27
@GiriB I wrote the minimax algorithm in JS, created the directory "Chapter 5" and made a PR following **my** dir. structure. At the same time, @Ghost---Shadow and 2 others were making their PRs. This resulted in a blend of GS's directory structure and mine, hence the outlier: Chapter 5/minimax.

This structure conflict is the primary reason for the existence of this thread.

[2016-04-05 01:58] Ghost---Shadow commented on #27
I dont think folder structure matters a lot. Since the production is highly parallelizable, we can refactor easily. Also, I would like to finish [Chapter 4](http://ghost---shadow.github.io/aima-javascript/4-Beyond-Classical-Search/) since it is midway done.

@GiriB I screwed up during squashing. I will fix that on Sunday,

[2016-04-10 11:24] Ghost---Shadow opened #29 "We should use code mirror."
Using [Code mirror](https://codemirror.net/) readers would be able to modify the javascript on the fly while reading. The changes would be reflected back in the visualization. Something like IPython Notebook.

What do you guys think?

[2016-04-17 11:31] #29 closed

[2016-04-17 14:46] GiriB commented on #29
@Ghost---Shadow  I think the first phase would be to complete all the chapters. After that, we could add Code Mirror. It's not a necessity, more like a feature.

[2016-04-17 15:30] Ghost---Shadow commented on #29
That is why I closed it. Too much hassle.

[2016-05-10 04:21] umgupta opened #32 "How to Contribute or Developer Documentation?"
Hey, is there a document which I can refer to get started with this?
I would like to contribute to this project. If there is no such document, I could start with creating that doc itself.

[2016-05-11 22:03] norvig commented on #32
Hi @umgupta I'm glad you're interested. Most of the action right now is in aima-python and aima-java; we could certainly use help in javascript!

[2016-05-12 03:57] umgupta commented on #32
Yes, I know they have got the GSOC attention. However, I am more interested in creating nice visualizations.
I have some experience with JS libraries (BackBone, React) and creating Single Page applications(SPA). I also have some experience with setting up a SPA project (I see a post where this was being discussed).

I think I can work on this but how should I start? Do you have any guideline as to

[2016-05-18 19:02] kaiesh commented on #27
Hi guys,

I'm keen to contribute to this too - am happy to pick up Chapter 6 to start with.

[2016-05-19 17:44] GiriB commented on #27
I have already started with Chapter-6. @KailashVohra can start with
something else. Also I have my exams going on now, I'll start back by next
week.

[2016-05-19 17:50] kaiesh commented on #27
Oh right - I've already sent a pull request for 6.1.1 Map Coloring...
On 19 May 2016 11:14 p.m., "Giri Gaurav Bhatnagar" <notifications@github.com>
wrote:

[2016-05-24 08:18] Ghost---Shadow commented on #32
I have thought of a naive method of just distributing chapters to everyone.
https://github.com/aimacode/aima-javascript/issues/27

[2016-05-24 08:26] kaiesh commented on #27
Ah OK, you've reassigned chapters - I had started work on Chapter 12, I'll commit the progress to the same pull request, so both can be merged.

@umgupta if you think its useful you can build from that.

@Ghost---Shadow you may consider allowing people to request for chapters to work on that interest them. Progress may move faster that way.

Cheers!

[2016-05-24 08:28] Ghost---Shadow commented on #27
@kaiesh Requesting chapters seems a good idea. Start placing your requests.

[2016-05-24 08:29] kaiesh commented on #27
@Ghost---Shadow I'd started on 6 and 13, so I'd be interested to continue and complete those.

[2016-05-24 17:37] umgupta commented on #27
Hey Guys,
I read previous discussions and here are few of my suggestions :
1. Build / testing process. Why do we use jspm & gulp when there are better options (read webpack).  A google search for `jspm Vs webpack` will give enough arguments to convince you. But main features are `hot loading` & `single command build`.  I can happily port whatever is there to webpack and write a guide for structuri

[2016-05-25 01:46] Ghost---Shadow commented on #27
1) Go ahead. I am still new to the MEAN stack. Most of this is mumbo jumbo to me.
2) I am using [two.js](https://jonobr1.github.io/two.js/) just because I heard about it before and it is super flexible. You might also like d3.js.
3) We haven't officially decided it yet but I think [this](https://github.com/Ghost---Shadow/aima-javascript/tree/aimacode-master/4-Beyond-Classical-Search) is a good way

[2016-05-25 03:39] umgupta commented on #27
@Ghost---Shadow
1. I will try to switch build process to webpack with whatever minimal changes I can.
2. I will try to figure out a universal/flexible choice
3. Sure, I like this way to precise to read and easy to follow.

I will need some time (till weekend) to actually put webpack things in a place. I will choose chapter (1 and 2), I dont know if 1 requires some work actually. But 2 might requir

[2016-06-01 13:41] aidarbek commented on #27
Hey, guys! I would like to work on chapter 3 "Solving-Problems-By-Searching".

[2016-06-02 02:52] laurit17 commented on #27
Hi, I would love to take the chapters 22/23 (NLP). If no one else has started on them, I will.

[2016-11-13 03:43] berviantoleo commented on #27
Hello, may I sumarize that in working and haved implement to one file in repo for another want to contribute will see what not implemented yet.

[2016-12-11 14:45] sourabh2k15 commented on #27
hello guys, I would like to work on chapter 2 visualizations for searching algorithms .

[2016-12-12 03:13] Ghost---Shadow commented on #27
@sourabh2k15 I think you meant chapter 3. Look at the [contributions page](https://github.com/aimacode/aima-javascript/blob/master/CONTRIBUTION.md). Chapter 2 is done as far as I know.

[2016-12-12 13:02] sourabh2k15 commented on #27
Ohh yes . I was mistaken. I meant to contribute to building visualizations for searching algorithms in chapter 3.

[2017-01-30 14:32] shubhrajodiya commented on #32
@norvig
Hello Sir,
I am interested in implementation of AIMA in javascript and visualization of algorithms in it. Can you please guide me how I can start with it.
Thanks

[2017-01-31 01:37] Ghost---Shadow commented on #32
@shubhrajodiya
For setting up you should read [the main page](https://github.com/aimacode/aima-javascript).
Visit the [static hosted site](http://aimacode.github.io/aima-javascript/) to get a feel for it.
Check the current contribution status over [here](https://github.com/aimacode/aima-javascript/blob/master/CONTRIBUTION.md)
Post whatever you are interested in, over [here](https://github.com/aima

[2017-02-12 08:13] vamshi9 commented on #27
Hello guys!
I would like to contribute to this project. @norvig  @Ghost---Shadow  Could you please guide me through this.
I can use Node.js, Express.js, MEAN stack architecture.  I am going through 'Introduction to AIMA' course in Udacity and AIMA(3rd addition).
And I would like to know whether this is acceptable to GSoC.
Thanks in advance!

[2017-02-12 10:30] Ghost---Shadow commented on #27
@vamshi9 Anyone can contribute but for GSOC, make sure you fill the appropriate paperwork in GSOC's main website. Take a look at how far the project has been done and request what you would like to add into it.

[2017-02-13 17:24] Rishav159 commented on #27
Hello everyone!
I am interested to work on this project.
I have read the documentation and the folder structure seems super neat !
Could anyone please guide me on how to start ?
Thanks a lot!

[2017-02-13 17:48] berviantoleo commented on #27
You can see in Contribution file and finding that not implemented. Also you may asked the progress that on working. If you can work on it, comment to this issue.

I suggest to doing that not implemented yet or completed any chapter (maybe some algorithm missed).

[2017-02-14 12:29] Rishav159 opened #42 "The drop-downs in the navigation bar does not work on the landing page"
The navigation bar enables users to navigate through the website quickly. Apart from a few typos in the links of the tabs, the dropdown menu does not seem to work in the landing section. Can anyone point out the reason ?

[2017-02-14 12:54] #42 closed

[2017-02-14 12:56] Rishav159 commented on #42
Turns out it was a small mistake on my build.
Sorry to bother !

[2017-02-15 13:41] Rishav159 commented on #27
@Ghost---Shadow  I would like to know the progress on chapter 3 of aima-javascript. Will it be possible for me to help in those chapters? or should i target some other chapter? Could anyone please guide me on what should be the appropriate way to communicate with the mentors? Like an IRC channel maybe ? Also, Is aima participating in GSOC-2017 ?
Thanks in advance.

[2017-02-16 01:42] Ghost---Shadow commented on #27
@Rishav159 By Chapter 3 I assume you mean [Solving Problems By Searching](http://aimacode.github.io/aima-javascript/3-Solving-Problems-By-Searching/). You can help by adding scripts or visualizations. However, I cannot help you with the remaining two questions.

[2017-02-16 07:22] Rishav159 commented on #27
@Ghost---Shadow Yes. I would like to work on Chapter 3 Solving Problems By Searching. Regarding the IRC channel, Can you inform whom should I contact and by what means should I contact? If we don't have the channel, we can start by creating a new one. As GSOC approaches, many participants will want to work on this project and it is an excellent opportunity to develop this project.

[2017-02-16 08:55] Rishav159 opened #44 "Proposing a new IRC Channel to discuss ideas and guide new comers"
With the GSOC approaching, more and more participants will need guidance. I feel there should be an IRC channel for this purpose. We can discuss new ideas and get to know each other in such a platform.
What do you guys say ?

[2017-02-16 12:03] Ghost---Shadow commented on #44
I am unfamiliar with the process of creating an IRC. You should take the impetus.

[2017-02-16 12:38] Rishav159 commented on #44
Okay. I will set it up for this repository and provide the link here.

[2017-02-16 14:49] vamshi9 commented on #44
Thank you @Rishav159 for coming up with this.

[2017-02-17 13:42] Rishav159 commented on #44
I have created a new IRC Channel on the freenode server. The channel name is '#aima-js'.
I suggest moving informal communications there.
Also, is anybody here who knows whether AIMA will be participating in GSOC 2017? I sent a message to the mailing list of the previous year GSOC group too. There is no reply from anyone.

[2017-02-22 13:50] vamshi9 commented on #44
@Rishav159  I've contacted one of the GSoCers(aima) and he said that most of the action will be in java and python for GSoC. It is better to wait till the list of organizations comes out!

[2017-02-22 19:32] Rishav159 commented on #44
@vamshi9  Thank you for that information. I wonder why javascript is not considered. Javascript provides a very flexible visualizations and being on the web platform actually makes the visualizations easily available.   Also, there is a lot of work pending in this repository.
Anyways, I hope they consider Javascript.

[2017-02-23 06:35] vamshi9 commented on #44
I have been preparing myself with MEAN stack architecture to contribute to this repo but when I heard this I was bit disappointed but the point here is that may be norvig is considering to complete python and java as there are numerous libraries for AI in those programming languages and people are preferring these over javascript as per 2016. When times come for JS he will include this for sure at

[2017-02-23 11:06] Rishav159 commented on #44
@vamshi9 I agree with you. Because there are lots of libraries for AI in Java and python, people may be preferring them over Javascript.
Did he ask about not using Node.js ? I did not know about that. I guess we don't really need it because all the algorithms and their corresponding visualization code can be implemented in the front-end javascript itself. I am just guessing.

[2017-02-28 05:24] Rishav159 opened #47 "Deciding on a standard front-end framework to build animations"
I think we should decide on a standard front end framework for the purpose of creating animations.
I don't have a lot of experience in this field and thus want suggestions regarding this. I have tried [two.js](https://two.js.org/) in the Breadth First Search visualizations in Chapter 3.
Thanks in advance.

[2017-02-28 08:24] merovingienne commented on #27
Hello people,
I'd like to contribute to this project too. I'm currently following this book for a module at my university and came across this.
@Ghost---Shadow I see that most of chapter 3 (Solving problems by Searching) is marked as "On Working" for months. Shall I join @Rishav159 in completing them?

[2017-02-28 08:39] Rishav159 commented on #27
Hello, @merovingienne  I started working on chapter 3 a few days ago. There does not seem to be a mentor around here although the ideas list of AIMA specified the development of Javascript repository.

[2017-02-28 08:41] merovingienne commented on #27
@Rishav159 hi, so do you intend to complete it on your own or would you like to share the work in chapter 3?

I see, so we can divide the work and complete according to what's already finished?

[2017-02-28 09:31] Rishav159 commented on #27
@merovingienne I intend to complete chapter 3 on my own. Yes, we can divide work and complete according to what's already finished.

[2017-02-28 09:38] merovingienne commented on #27
@Rishav159  Noted, I'll start working on chapter 4 then. Great, thanks!

[2017-02-28 12:29] Ghost---Shadow commented on #47
I explored a few graphics libraries a while back, the only other alternative was [D3JS](https://d3js.org/). I did not pick it because it is mostly for charts. `two.js` is versatile enough to do anything while being simple enough to pick up.

If in later chapters 3D animations are needed, [three.js](https://threejs.org/) can be used.

[2017-02-28 17:27] merovingienne opened #48 "JS minification introduces errors"
Bundling with default settings introduces an error to the main.js file for some reason.

In current configuration, Gulpfile.babel.js has `minify:true` in the jspm.bundleSFX method. With this, the page throws an `Uncaught ReferenceError: Invalid left-hand side expression in postfix operation`. This causes all styling and js to be lost.

Setting `minify:false` before bundling seems to fix the error

[2017-03-01 01:24] Ghost---Shadow commented on #48
I have had about half a dozen issues with gulp but not this one. Some missing semicolon somewhere might be causing this problem, I think. I am not sure.

[2017-03-02 13:48] preethi26 opened #49 "Greedy best first search"
greedy best first search search has been mentioned in the book but not implemented. I would like to implement it. Shall I proceed ?

[2017-03-03 01:37] Ghost---Shadow commented on #49
Please put all your requests at [this thread](https://github.com/aimacode/aima-javascript/issues/27).
Greedy Best First Search falls under chapter 3. Currently 3 people are working on it. You should find something people are not working on currently.

[2017-03-03 01:37] #49 closed

[2017-03-03 04:39] preethi26 commented on #27
hello all,
I am highly interested in contributing to this project. I'm currently following this book for few topics in my university. I would like to work on the chapter 18 of the book i.e, "[Learning-From-Examples](https://github.com/aimacode/aima-javascript/tree/master/18-Learning-From-Examples)" ( I also intend to continue implementing the complete section ). As this chapter is not assigned to

[2017-03-03 04:39] preethi26 commented on #49
Thank you.

[2017-03-03 08:52] zhirzh commented on #27
@Ghost---Shadow please add me for **Chapter 15**

[2017-03-03 19:19] meghanagupta3 opened #51 "Starting point for GSoC 2017"
Hello.
AIMA is one of the participating organisations for GSoC 2017, and some of the project proposals involve working on visualisations for aima-javascript (http://aima.cs.berkeley.edu/gsoc-ideas.html). Since I've followed this textbook for one of my university courses, I'd like to work on the javascript side of the code base.

I tried following the thread on Issue #27 [](https://github.com/aimac

[2017-03-04 03:02] Ghost---Shadow commented on #51
Implement any algorithm from any chapters which is not being worked upon. This is to prevent people from working on the same thing and wasting their time.

While writing the code, keep in mind that it needs some kind of "handles" for the visualizer to use. [Chapter 2](https://github.com/aimacode/aima-javascript/tree/master/2-Intelligent-Agents) is probably the simplest example. If for some reason,

[2017-03-05 19:46] Rishav159 commented on #44
Now that a gitter lobby is created [here](https://gitter.im/aimacode/Lobby). This issue should be closed.

[2017-03-05 19:46] #44 closed

[2017-03-06 01:40] Ghost---Shadow commented on #44
@Rishav159 Add the link to the `Readme.md` for others to know.

[2017-03-07 10:05] gaurav1911 commented on #27
Hey guys, I would like to contribute in chapter 3 (visualizations).

[2017-03-12 15:48] redblobgames opened #57 "3-Solving-Problems-By-Searching"
Let's discuss the visualizations for chapter 3 here.

[2017-03-12 15:52] redblobgames opened #58 "4-Beyond-Classical-Search"
Let's discuss visualizations and code for chapter 4 here. What are the main ideas from the chapter that could be turned into interactive/animated visualizations?

[2017-03-12 15:54] redblobgames opened #59 "15-Probabilistic-Reasoning-Over-Time"
Let's discuss visualizations and code for chapter 15 here. What are the main ideas from the chapter that could be turned into interactive/animated visualizations?

[2017-03-12 15:54] redblobgames opened #60 "18-Learning-From-Examples"
Let's discuss visualizations and code for chapter 18 here. What are the main ideas from the chapter that could be turned into interactive/animated visualizations?

[2017-03-12 16:01] redblobgames commented on #27
I'm trying to determine who's actively working on visualizations and/or code. I've created a github issue for each of the chapters I believe is being worked on.

- @Rishav159 @gaurav1911, @sourabh2k15 [Chapter 3](https://github.com/aimacode/aima-javascript/issues/57)
- @merovingienne [Chapter 4](https://github.com/aimacode/aima-javascript/issues/58)
- @zhizrh [Chapter 15](https://github.com/aimaco

[2017-03-12 16:11] redblobgames commented on #57
One of the questions was about whether we need to write the code twice, once for visualization and once to display. When the visualization code is similar to what you would've written without visualization, let's display it, but otherwise writing a second copy of the code is a lower priority.

Sometimes it will be possible to use the same code. Here's an idea from @Ghost---Shadow : what if we writ

[2017-03-12 16:30] redblobgames commented on #58
For showing a search space, you could use a 1d space in a 2d plot, or a 2d space in a 3d plot — you may look at the three.js library to see if a 3d plot is easy to make in it.

[2017-03-12 16:32] redblobgames commented on #60
We usually think about interactive visualizations solving the problem for you. The reader provides the inputs, and the page runs the algorithm and provides the output. Also consider whether there are some concepts where you want to invert this, and have a fixed input problem, and ask the reader to "run" some part of the algorithm by clicking on the expected output.

[2017-03-12 16:39] Rishav159 commented on #57
As suggested by @redblobgames I will be working to implement the visualization about explaining the node expansion concept. The user will have to click the nodes to expand them. We can ask the user to reach a specific goal state by expanding nodes or something like that.

[2017-03-13 02:35] Ghost---Shadow commented on #57
Essentially it is recording the state sequence like a video. It is not truely interactive, I had used it in the AC3 visualization because I was having some difficulty inserting handles. It was because AC3 has a recursive nature.

[2017-03-13 02:42] Ghost---Shadow commented on #58
I often just look at the [Python branch](https://github.com/aimacode/aima-python) before approaching a problem. It is always easier to translate from python to javascript than pseudo-code.

Here are the algorithms in [Chapter 4](http://aimacode.github.io/aima-javascript/4-Beyond-Classical-Search/) as also listed in the python branch.

4.2	Hill-Climbing
4.5	Simulated-Annealing
4.8	Genetic-Algorithm

[2017-03-13 03:02] Ghost---Shadow commented on #59
Here is the list from the [java branch](https://github.com/aimacode/aima-java)
15.4	576	Forward-Backward
15	578	Hidden Markov Model
15.6	580	Fixed-Lag-Smoothing
15	590	Dynamic Bayesian Network
15.17	598	Particle-Filtering

Some thing like [this](http://setosa.io/blog/2014/07/26/markov-chains/) for Markov model or Figure 15.7 from the book.
A simple flight sim like [this](https://www.youtube.com/wa

[2017-03-13 03:06] Ghost---Shadow commented on #60
18.5	Decision-Tree-Learning	DecisionTreeLearner	learning.py
18.8	Cross-Validation	cross_validation	learning.py
18.11	Decision-List-Learning	DecisionListLearner	learning.py
18.24	Back-Prop-Learning	BackPropagationLearner	learning.py
18.34	AdaBoost	AdaBoost	learning.py

Here are some of my favorites
1. http://playground.tensorflow.org/
2. http://neuralnetworksanddeeplearning.com/chap4.html (Near the

[2017-03-13 03:21] preethi26 commented on #60
@redblobgames, sir, I have just started working on chapter 18: [learning from examples](https://github.com/aimacode/aima-javascript/tree/master/18-Learning-From-Examples).
The plan I have thought of is as follows:
1. Implement the decision tree learning, decision list learning, backpropagation learning.
    **Visualisations:**
     **Decision tree learning:** Building a tree with the user's help.

[2017-03-13 16:17] redblobgames commented on #57
@Ghost---Shadow Good point — it simplifies things when the interaction is a recording/animation (maybe with a slider) (this is the style of interaction I used on [my A* page](http://www.redblobgames.com/pathfinding/a-star/introduction.html)) but it won't handle interaction in the middle of the algorithm, like what @Rishav159 is working on first. The best approach will depend on the type of visuali

[2017-03-13 16:38] redblobgames commented on #60
@preethi26 I think that's a great set of visualizations to try! Asking the user to guess the answer is a technique I don't see very often. I first saw it [here](http://www.flashandmath.com/advanced/derdraw/DerivativeDraw.html) (requires Flash) — it gives you a function, and the user draws the derivative of the function, and then it shows you how closer you got. It really made me think about deriva

[2017-03-14 02:23] alireza-a commented on #27
Hi everyone, I want to work on chapter 21-Reinforcement-Learning.
I was wondering if there are any limitations on the JS libraries we can use to help with the visualizations (The completed chapters seem to be only depending on jQuery)?

[2017-03-14 07:20] Ghost---Shadow commented on #27
@alireza-a We are kinda going for a static hosting so no server side stuff. Other than that knock yourself out. I think we are currently using jQuery, two.js and the js of bootstrap.

[2017-03-14 15:18] redblobgames opened #62 "21-Reinforcement-Learning"
Visualizations and code for chapter 21

[2017-03-14 21:38] redblobgames commented on #27
@alireza-a Great! We have been using two.js, and probably should continue to use it unless there's a visualization where it would make a huge difference. I created a page #62 for discussion of chapter 21

[2017-03-16 04:01] alireza-a commented on #62
I start with the Passive-ADP-Agent (Fig 21.2) and I want to visualize it evaluating a fixed policy in the 3x4 world (Fig 21.1). I have decided to use D3.js to visualize the environment. I want to use the Python code as a base for my implementation.

[2017-03-16 12:08] Ghost---Shadow commented on #62
Our original plan was to stick to javascript as we wanted to make the whole think static host-able. I will wait for @redblobgames for any revisions on that.

[2017-03-16 15:03] redblobgames commented on #62
@alireza-a Sounds like a good start. We have been using two.js for visualization so before you use d3.js look to see if two.js works (to keep consistency with the existing code base). Translating the python code to javascript seems like a good approach.

[2017-03-16 17:31] Rishav159 commented on #57
@redblobgames Now that the node expansion visualizations are completed for now, should I move on to BFS algorithm?

[2017-03-16 19:09] redblobgames commented on #57
Yes, Breadth First Search and Depth First Search are both algorithms for choosing which node to expand next without looking at edge weights, and I think they could both work well with the graph visualization you just built.

[2017-03-16 19:15] Rishav159 commented on #57
What changes should I make to the already implemented visualizations? Also, I guess a graph which is just like the Romania map given in the map would help.

[2017-03-16 19:26] redblobgames commented on #57
Try implementing breadth first search and depth first search using the node expansion visualization at the top of the page. That way there's a set of diagrams that works together with the concepts you've already presented (that there's a graph, and that there's a search order):

- this is what node expansion is all about; you can choose the order
- this is all the search algorithm sees; you can ch

[2017-03-16 19:55] Rishav159 commented on #57
Okay. I am working on it.

[2017-03-18 04:57] alireza-a commented on #62
Sure I will only depend on two.js. I mapped over MDP, GridWorld, and PassiveADPAgent (only the parts that I need) from the Python Implementation to JS. I could not find anything about testing on the repo. Do we only rely on the visualizations since it's a static site? If so, should I only make a pull request after the visualizations have been added?

[2017-03-19 04:39] redblobgames commented on #62
Testing would be nice. I'm not sure how to best approach it. Yes, we could have automated tests for the algorithms, but the main focus of the work is the visualizations, and those we'll have to test by asking people to try it out (user testing instead of unit testing).

Yes, make a pull request after you've made a visualization or two. For some visualizations you may have to write the algorithm in

[2017-03-20 06:54] ha531102 commented on #27
Hi everyone, this is Chi-Hsien. Short self-intro: graduate student from UIUC, working on visual analytics. I plan to start working on chapter 7 since it looks like no one has touched it before. Any suggestion would be appreciated!

[2017-03-20 15:28] redblobgames opened #65 "7-Logical-Agents"
Visualizations and code for chapter 7

[2017-03-20 15:28] redblobgames commented on #27
@ha531102 Great! I've opened #65 for discussion of chapter 7

[2017-03-20 17:15] redblobgames commented on #47
Con: D3.js does not have the output-independence that two.js has (svg or canvas or webgl)
Con: D3.js's enter/exit pattern isn't that useful to us, and may get in the way
Con: D3.js is harder to learn than two.js (in part because two.js limits what you have access to)
Pro: D3.js has good support for transitions, mouseovers, other interaction effects
Pro: D3.js is much more widely used than two.js (

[2017-03-20 21:12] redblobgames commented on #1
This issue is still open. Now that

1. the focus of this project has shifted from writing Javascript code to writing visualizations, and
2. we are not writing a web application, and
3. we are not writing a reusable library,

I wanted to revisit this. We're making 28 static web pages. That's all. Given the reduced scope, is there anything we can simplify/eliminate for this year's gsoc?

- node
- np

[2017-03-21 01:42] Ghost---Shadow commented on #1
You dont need to remove anything, just dont update it.

[2017-03-21 03:25] ha531102 commented on #27
@redblobgames Sure! I can focus on brainstorming what kind of interactive visualizations would be most effective for learning and also fun to play with. Once we have the concrete ideas later we can better decide which library is more suitable.

[2017-03-21 12:16] Ghost---Shadow commented on #18
Someone fixed it. Anyway, cheers! :D

[2017-03-21 12:16] #18 closed

[2017-03-21 13:29] redblobgames commented on #27
@ha531102 The wumpus world diagram seems like the straightforward first step for this chapter. Even without an AI agent, you could build a diagram that waits for the player to select a move.

[2017-03-21 19:57] ha531102 commented on #65
My initial thoughts for chapter 7:
### Interactive Wumpus World
- This is the first and straightforward example in the book. My first step will be creating an interactive wumpus world game.
- Main interactivity features:
  - game mode (default) and god mode:
  **Game mode:** The actual positions of wumpus and pits are hidden to the players. In this way students can first understand the game and fo

[2017-03-21 20:00] ha531102 commented on #27
@redblobgames Yes! That will be my first step. I commented my thoughts in the #65 thread. Thanks.

[2017-03-22 15:46] redblobgames commented on #65
@ha531102 looks like a great plan! If you implement one or two visualizations it would give you a way to estimate how much can be done over the summer.

[2017-03-23 02:14] Ghost---Shadow commented on #65
Spoiler alert, very... long... time...
Infact the visualization always takes a few magnitudes longer than the algorithm itself.

[2017-03-23 09:18] Rishav159 commented on #65
@Ghost---Shadow  Totally agreed... When i started working, I believed it will not take that much time, but as it turns out, there are lot of things to consider while making the visualization like
- Is the visualization actually required
 What kind of concepts does this visualization aims to explain
- How do the actual algorithms integrate with the visualization
etc

[2017-03-25 05:06] norvig opened #66 "STEM C Studio"
Somebody made this: https://www.stemcstudio.com/#/gists/8dce0d766640e1439387fe8956f758d4

Is this Stem C Studio a tool we want to use?

[2017-03-25 05:22] Ghost---Shadow commented on #66
Our solutions can be ported easily to this platform if we wanted to. Other than that, there is little point in changing technologies. I do not see any benefits to this.

Also, if STEMC (for some reason) change their business model, it might be quite problematic.

[2017-03-25 06:55] ha531102 commented on #65
Thanks guys! I will bear that in mind and definitely implement one before making the plan for summer. For now I have two questions:

**Is it possible for us to get a pdf copy for chapter 8, 9, and 10 (Part III)?**
I got a pdf copy of chapter 7 from [aima site](http://aima.cs.berkeley.edu/2nd-ed/), but others are not available. Because these chapters are closely related, I think it's good to have a

[2017-03-25 13:00] Rishav159 commented on #57
I just came across [crytoscape](https://github.com/cytoscape/cytoscape.js). It's a javascript library used for visualizations of trees and graphs. What do you guys think?

[2017-03-25 13:24] Jeet1994 commented on #57
@Rishav159 will be great idea, except that we already have `d3.js`, which, in my opinion has a better documentation than **crytoscape**.

[2017-03-25 13:27] Rishav159 commented on #57
@Jeet1994 Documentation-wise, Yes, but I think cytoscape is more suitable and easy for building graphs (nodes and edges) which are the gist in this chapter.

[2017-03-25 13:50] Ghost---Shadow commented on #57
I have yet to taste the full potential of `d3.js` but this looks nice, quite focused. Lets wait for the opinion of @redblobgames.

[2017-03-25 14:13] Rishav159 commented on #57
@Ghost---Shadow Yes, we will wait for @redblobgames for his opinion. I just think using Cytoscape.js, the graphs will be much more elegant and visually pleasing which is the point of the visualizations. Converting existing visualizations in this chapter to Cytoscape shouldn't be that difficult.

[2017-03-25 15:35] redblobgames commented on #66
I agree with @Ghost---Shadow . Our immediate goal is the visualizations and not a tool for our readers to make visualizations, and I don't see this being useful right now. If we later want to add something where readers are editing the code, there are lots of options for online editing.

[2017-03-25 15:35] #66 closed

[2017-03-25 15:53] redblobgames commented on #65
@ha531102 I don't know of a pdf copy; I have been looking at the print textbook as a guide.

I agree, there is a tradeoff between trying to get more chapters or trying to make really good visualizations for a few chapters. We should aim for something in between ([80/20 rule](https://en.wikipedia.org/wiki/Pareto_principle#In_software)). It is not realistic to expect all chapters to have good visual

[2017-03-25 16:16] redblobgames commented on #57
Cytoscape is a nice library for graphs, especially large complex graphs that you want to edit in the browser. There are also nice libraries for charts such as highcharts. D3 is a general purpose tool but it also gives us full control over appearance and interaction (more than two.js), which is useful when we're doing custom visualizations that don't match what other people are making. See the [d3

[2017-03-25 16:28] Rishav159 commented on #57
@redblobgames Okay. So, for now, I am leaving Cytoscape just as a potential library to use during the GSoC.

[2017-03-25 20:15] Jeet1994 commented on #57
@Rishav159 I agree. However, working with **presently stable libraries** will be a better option, from a development point of view.

[2017-03-26 05:52] Jeet1994 commented on #47
@redblobgames Let's not forget the huge community support and documentation that D3.js has.

[2017-03-26 13:54] redblobgames commented on #57
@Jeet1994 @Rishav159 Yes, we can discuss visualization libraries in #47 and other technologies in #1

[2017-03-29 06:53] alireza-a commented on #62
So far, I have mapped over the MDP, GridWorld, and Policy Evaluation from the Python Implementation and I have visualized the Policy Evaluation on the GridWorld with a fixed policy (Fig 21.1). Here is the [Policy Evaluation Demo](https://www.useloom.com/share/d731b262cadf4444b401ab92f4f280bc).

The MDP and GridWorld are shared between chapter 17 and 21. Would this mean a reimplementation of MDP an

[2017-03-29 16:52] redblobgames commented on #62
@alireza-a cool

The main goal is the visualizations, so feel free to reuse between chapters if it works better, or reimplement if that works better. With the experimental nature of this project, sometimes it's easier to have two copies of the code while rapidly iterating on the visualizations, and then go back and merge them after we figure out which visualizations worked well.

[2017-03-30 18:50] MasterOfTheU commented on #27
Hi everyone, I am Olessia and I would like to start working on Chapter 19 - Knowledge-In-Learning as the starting point to GSoC programm.
A short intro: second year student of Igor Sikorsky Kyiv Polytechnic Institute, have passion about helping other people to realize that AI is not that hard to understand.

[2017-03-30 19:33] redblobgames opened #68 "19-Knowledge-In-Learning"
Discussion of visualization for chapter 19. Candidates for visualization:

- problems
- concepts
- solutions (algorithms)

[2017-03-30 19:33] redblobgames commented on #27
@MasterOfTheU great! I created issue #68 for discussion.

[2017-03-30 19:50] redblobgames commented on #68
I admit I don't have a lot of ideas at the moment for this chapter but the diagrams and algorithms are usually a starting point. Another place to start is to think about which concepts were most confusing when you studied this chapter, and whether there's a visual explanation that would have helped you.

Sometimes there's a animated/interactive visualization showing a possibility space in a way th

[2017-03-31 04:06] redblobgames commented on #1
@Ghost---Shadow I'm not sure what you mean. Are you saying what we have now is the simplest possible system for publishing static web pages to github-pages?

[2017-03-31 12:25] Ghost---Shadow commented on #1
@redblobgames Definitely not but why fix something that aint broken? All you need to type is `gulp deploy` and it is pushed to `gh-pages`.

[2017-03-31 22:38] jaydeepingle commented on #27
I am planning to focus on chapter 19, Knowledge in Learning and the 4 algorithms within that which are:
Current-Best-Learning
Version-Space-Learning
Minimal-Consistent-Determination
FOIL
I am pretty sure that I will be able to complete these 4 in the given time span in python and if time permits I will try to implement those in Scala and Java too. Currently I have implemented Decision Trees, Logis

[2017-04-01 05:11] redblobgames commented on #27
@jaydeepingle great! For aima-javascript there will be visualizations that do not have algorithms and some algorithms will not have visualizations, and algorithms may have to be written differently to support visualization, so the code will not be the same style as the python and java code. For GSoC, I am the mentor for the javascript visualizations; Peter Norvig will be the mentor for Python and

[2017-04-01 16:02] MasterOfTheU commented on #68
I have a couple ideas about the general concepts and algorithms about this chapter but also I have one question too. Should we include the graphical presentation of different network structures (e.g. mentioned feed-forward and recurrent networks)? I suppose it's a good way to show how these structures look like dynamically by vizualizing the work of nodes and links.

[2017-04-01 16:48] bhavya9107 commented on #47
Can also write up using `p5.js` it has support for various interactions and great good reference material

[2017-04-01 19:09] redblobgames commented on #68
@MasterOfTheU Sure, anything that helps the reader understand the material but can't be printed in the book (because it requires animation/interaction/simulation) is worth considering. If there is too much to do at once, we might want to prioritize based on how much there is to gain by making an interactive visualization compared to what the book already has or could have in the next edition.

[2017-04-02 02:44] Ghost---Shadow commented on #47
@bhavya9107 Just use [processing.js](http://processingjs.org/). Its mature enough, in my opinion. `two.js` is very similar to `processing`'s `setup` - `loop` - `draw` - `update` workflow.

[2017-04-02 22:25] ishapotnis1 commented on #27
Hi @redblobgames I read the above messages and went through some of the work that has been implemented. I am intending to focus on some of the chapters from the index.
Chapter 5 :  Adversarial search
  i. Minmax
 ii. Alpha Beta pruning

Chapter 6:
i. min conflicts
ii. Tree CSP

Also there are some algorithms that can have visualizations in chapter 10:
i. Air-Cargo-problem
ii. Spare-Tire-Problem
ii

[2017-04-02 22:57] redblobgames opened #72 "5-Adversarial-Search"
Let's discuss what concepts are presented in this chapter, and what visualizations can show the concepts, problems, and algorithms.

[2017-04-02 22:59] redblobgames commented on #27
@ishapotnis1 Great! I created issue #72 for discussing chapter 5. It will be useful to focus on one chapter at a time. After you've done one you'll have many more ideas for other chapters.

[2017-04-02 23:12] redblobgames commented on #72
One of the difficult things here will be that even small games like tic tac toe lead to a large game tree, so we wouldn't want to draw the entire tree. The book shows a part of the tree. One approach is to let the reader choose which tree nodes to expand.

For minimax, when the reader mouse-hovers over a possible move, you could how the AI looks several moves ahead of that. That way instead of sho

[2017-04-03 10:57] Ghost---Shadow commented on #72
Does it have to be Tic Tac Toe? It will have a tree depth of 9. Cant we use prisoner's dilemma or something similar yet contrived such that the entire tree fits in the screen.

[2017-04-03 17:06] Rishav159 commented on #57
Regarding the depth-limited search, the book only contains the description and pseudocode for the **tree search** and not **graph search**. So I guess the visualization should also only be made for tree kind of graphs and not graphs in general?
I am asking this because the rules for a graph search is not present in the book and it will become ambiguous used in visualization.

[2017-04-04 03:56] redblobgames commented on #57
@Rishav159 if I remember right, the depth is the depth in the search tree which is a subset of the graph so you can equally well apply depth limited search to graph search. Put a different way, if you look at depth first search in a graph, each node will be visited in a "tree like" way, and you can keep track of the depth in that tree. (I'm not sure if I explained this well)

[2017-04-04 10:25] Rishav159 commented on #57
@redblobgames I understood that concept.
Let me try with an example
![screenshot from 2017-04-04 15-37-49 png](https://cloud.githubusercontent.com/assets/6198208/24652057/d8ae9ac0-194d-11e7-9452-643d2535e558.jpg)
Suppose in this graph, my initial node is A, and the DFS moves along A-D-F-J-K-N-I-E and so on...
When the node 'K' is expanded, the node 'I' goes into the frontier with a depth of 6 from

[2017-04-04 15:38] redblobgames commented on #57
I think if you expand the frontier nodes < depth instead of ≤ depth then `I` would not go into the frontier from K, and then it could go into the frontier from E, but you're right, we should be consistent with the book's algorithms and explanations.

[2017-04-04 15:40] Rishav159 commented on #57
@redblobgames I will change the graph to make it a tree and I can mention that it's a dfs search tree. Would that be fine?

[2017-04-05 02:03] redblobgames commented on #57
@Rishav159 try it and see how it feels! :) What is the main concept we want to show for depth limited search? A comparison between depth-limited and regular dfs? Or maybe a slider that controls the depth limit instead of using an animation. There are lots of possibilities.

For a slider you can use `<input id="depth-limit" type="range" min="0" max="20" oninput="yourfunction()">` and then in yourfu

[2017-04-05 04:59] redblobgames commented on #27
@umgupta @kaiesh @laurit17 Are you still working on this project? If not I can remove those chapters from the list of current work. Thanks!

[2017-04-06 21:25] redblobgames commented on #47
@bhavya9107 p5.js seems like a fine library. Right now we are using two.js but I think having a decision per chapter instead of trying to pick one library will allow us to make more different types of visualizations (e.g. 3d in three.js, charts in highchart, etc.), and also accept contributions from more people.

As this is aima-javascript, I would prefer us to use javascript directly instead of u

[2017-04-07 00:33] alireza-a commented on #62
My next steps:
1. Visualize Passive Agents (on Grid World)
2. Explore adding a graph to show the delta in state values over iterations (to compare how fast the information propagates in different algorithms)

[2017-04-07 01:10] alireza-a commented on #47
@redblobgames Making decisions per chapter and opening to more libraries is a welcome change. However, this introduces a cost for moving between chapters.
Maybe we should make a list of accepted libraries and later make justifications for using something outside this list.

Using TypeScript would allow for better code refactorization while keeping the code base close to JavaScript. Also introducin

[2017-04-07 16:17] redblobgames commented on #47
I've moved two.js from being global to be per-chapter. Yes, it adds a cost to move between chapters, but I think most of the time will be on implementing the AI algorithms (which don't depend on visualization) and then on experimentation to learn what visualizations work (throwing away most of the work). My hope is that the amount of visualization code we keep will be small.

[2017-04-07 16:17] redblobgames commented on #48
@merovingienne Are you still having this issue?

[2017-04-07 16:18] #32 closed

[2017-04-09 03:52] alireza-a commented on #62
### [State Value Graph Demo](https://www.useloom.com/share/ef630dc205a640a5a810b807da33e473)

__comments & questions__
1. I changed the width of the content to fit in both the graph and the GridWorld side by side. This is inconsistent with the other chapters.
_Is it acceptable to have a different content width for each chapter?_
2. I used NVD3 to create the graph. NVD3 is built on top of D3.js. Ho

[2017-04-10 01:03] redblobgames commented on #62
@alireza-a pretty cool to see the convergence! It's not quite what I had in mind but it works :-)

1. Yes, it's acceptable and expected to have different formatting for each chapter. Chapters are so different from one another that I don't think we can expect consistency at the beginning. We want to focus on finding the most useful visualizations (experimentation).
2. NVD3 is fine. I think we can r

[2017-04-11 08:10] krishnatejasalimeda commented on #57
Hi, I am planning to work on implementing A Star Search. Is these any other issue I need to worry about before implementing A Star Search?

[2017-04-11 09:40] krishnatejasalimeda commented on #27
Hi @redblobgames I want to work on Chapter 3, A Star Search. Can you add me to the list of contributers?

[2017-04-11 13:45] Ghost---Shadow opened #76 "Top navigation bar is broken"
All links in the (top) navigation bar links to `http://aimacode.github.io/x-ChapterName` it should be `http://aimacode.github.io/aima-javascript/x-ChapterName`. This includes the home button.

[2017-04-11 13:46] redblobgames commented on #76
I'm planning to fix this.

[2017-04-11 13:50] redblobgames commented on #27
@krishnatejasalimeda Ok, but it's a low priority, and @Rishav159 already has half of it implemented. If there's any other visualization you're interested in, work on that first, or if A\* is the only thing you want to work on, be sure to read the existing ucs algorithm code and graph visualization code in that chapter.

[2017-04-11 13:55] krishnatejasalimeda commented on #27
Also I'm planning to implement A Star Search without any external libraries, just plain javascript and canvas. Will it be accepted?

[2017-04-11 15:28] redblobgames commented on #27
@krishnatejasalimeda javascript and canvas is fine, but keep in mind that chapter 3 is already using two.js, and you won't be able to reuse the existing code if you are starting something different. We are not building visualizations of algorithms one at a time, but showing the concepts of how each algorithm compares with other algorithms in the same chapter. If you are building something inconsis

[2017-04-11 18:51] redblobgames opened #77 "2-Intelligent-Agents"
Chapter 2 already has a visualization of an algorithm; what are the concepts that we can visualize? My first thoughts:

1. Table driven agent: show a table of the percepts and the resulting action. Given the state of the world, show which table entries would be activated.
2. Rule driven agent: show a sequence of rules and the resulting action. Given the state of the world, show which rules would b

[2017-04-11 18:51] redblobgames commented on #27
I'm removing @umgupta @kaiesh @laurit17 from the current work list.

Chapter 2 has an visualization of the vacuum cleaner algorithm; I'd like to work on a visualization of the concepts to go along with it (discussion in issue #77).

[2017-04-12 07:55] Ghost---Shadow commented on #77
From what I understand both 1 and 2 both are essentially Finite State Automatas. 3 would be similar to `Getting in the shoes of a Search Agent` from Chapter 3 or online search from later chapters.

My point is, perhaps we put this chapter on the backburner?

[2017-04-12 15:50] redblobgames commented on #77
Chapter 2 is mostly about introducing the concepts independent of the problem being solved (search, planning, learning, etc.). I'm hoping there's some way to show these concepts with the vacuum cleaner example, but the example may be too simple for many of the concepts.

Other possible concepts to show:

* the line between agents vs environments
* sensors and percepts
* actuators
* partially obser

[2017-04-12 15:54] alireza-a commented on #62
My original implementation used animations. To show what happened at every step, I slowed down the animations. This made it take far too long to converge so I switched to tapping. I will try slider this time.

Also, I will be preoccupied with final exams until April 23rd.

[2017-04-12 16:49] Ghost---Shadow commented on #77
Ok that makes sense, nevermind me then.

[2017-04-12 16:58] redblobgames commented on #77
Sorry about that! I should've explained the goal from the beginning. If chapter 2 turns out not to be a great fit then I may put these examples outside of any chapter just so that we have some templates/examples to work with. (That would also make it easier for me to provide one version with two.js, one version with d3.js, one version with processing, etc.)

[2017-04-12 17:01] redblobgames commented on #62
Ah, makes sense. A slider can either control animation speed or the simulation time.

- If you're doing animation speed then instead of setInterval you can use setTimeout each time through the loop, and then the slider would control the timeout parameter.
- If you're doing simulation time then one way to implement it is to run the entire algorithm to the end, and record the state along the way. Th

[2017-04-16 14:33] redblobgames commented on #1
@Ghost---Shadow I agree for gh-pages, but for local testing, having a build step is slower than not having a build step. To make testing locally faster and simpler, I propose we use the bootstrap cdn instead of our own copy. That way you can *test* the page by saving the file and reloading, and skipping the build step. Also, some of Chrome's dev tools work only when we work with source files direc

[2017-04-17 01:39] Ghost---Shadow commented on #1
@redblobgames I should have told you this but I forgot. The gulp file has two symmetric functions (`copy` and `copyback`). `copy` copies the files to the build folder and `copyback` does the reverse. So, I did all my programming inside the build folder and then ran `gulp copyback` and committed the git. I then hosted the server inside the build folder and the changes were live.

I agree this is a

[2017-04-17 04:33] redblobgames commented on #1
@Ghost---Shadow Oh! I somehow missed the `copyback` step. I agree, it seems hacky. I'll work on merging the two copies for development so that we don't need copy + copyback while testing our changes.

[2017-04-17 23:05] redblobgames commented on #27
I'm removing deleted user @krishnatejasalimeda from chapter 3

[2017-04-18 13:47] Rishav159 commented on #57
Next up is Bi-directional search. The important concept to display here is : " b^d/2 + b^d/2 is much less than b^d". This means nodes generated when running two BFS (one from source and one from destination" will generate much smaller nodes than one BFS (from the source). We can visualize this by showing two bfs searches side by side. One with a normal bfs and other with bidirectional search (2 bf

[2017-04-19 17:35] redblobgames commented on #57
@Rishav159 I agree, showing side by side would be useful. I think this is primarily an animation unless we can think of something where the reader can meaningfully interact with it. I guess you could let the reader choose the start and end nodes.

It might be useful to show a graph with a large number of nodes for this. The book describes a million nodes; that may be too much, but let's estimate h

[2017-04-19 19:57] redblobgames commented on #27
- @zhirzh Are you still working on chapter 15?
- @ishapotnis1 Are you still working on chapter 5?
- @merovingienne Are you still working on chapter 4?

Is there anything I can help you with? If you're not working on these anymore that's fine; I will clean up the list of who's working on what.

[2017-04-19 20:11] ishapotnis1 commented on #27
Hi,

I am working on chapter 5

Thanks,
Isha Potnis..

On Wed, Apr 19, 2017 at 3:58 PM, Amit Patel <notifications@github.com>
wrote:

[2017-04-20 04:22] merovingienne commented on #48
Just did a clean installation and voila! Works normally.

[2017-04-20 04:25] merovingienne commented on #27
@redblobgames yes I am working on Ch 04, got occupied with college work. Please do feel free to assign anyone who's faster. Learning three.js on the go.

[2017-04-20 04:34] redblobgames commented on #27
@ishapotnis1 @merovingienne Cool, great to hear it! Let me know if you need anything. I'm starting to work on some wiki pages that give some examples of different ways to organize code but I haven't gotten very far.

[2017-04-20 07:00] Rishav159 commented on #57
I do have the code for making the random graph. I might need to change it a little bit as our graph representation has changed a little. But my approach was to randomly generate a node and see if it has a minimum amount of gap from other nodes. It worked fine for small number of nodes but it might get very slow for large number of nodes. I will have to figure out some other way of doing that. If y

[2017-04-20 16:16] redblobgames commented on #57
Randomly generating a node and seeing if it has a minimum gap is [poisson disc generation](http://devmag.org.za/2009/05/03/poisson-disk-sampling/); it can be sped up with a quad tree or other spatial index. I haven't yet written code for that; I've used a jittered grid instead because it's easy and I'm lazy ;) (see `initialSeeds` [here](http://www.redblobgames.com/x/1638-voronoi-strategy-mapgen/_b

[2017-04-20 16:19] Rishav159 commented on #57
This seems fine. I would try to implement bidirectional in the existing graph and later I can use some technique to create a bigger graph once and store it in JSON format.

[2017-04-27 22:55] alireza-a commented on #62
@redblobgames I like the progress bar, start/pause, and next/back interface you used in your [A* search article](http://www.redblobgames.com/pathfinding/a-star/introduction.html). I will create a similar interface.

[2017-05-01 00:00] darius commented on #65
@chihsienyen Hi there -- about your idea for a SAT game, here's a version of that in Python which I wrote some time ago: https://github.com/darius/sturm/blob/master/satgame.py

It runs in a terminal, not as a webpage, but it might be useful as an example to think about when designing the web version.

[2017-05-01 00:01] darius commented on #65
(I'm wandering in from aima-python to see what work there is to do here.)

[2017-05-01 21:46] redblobgames commented on #76
Fixed.

[2017-05-01 21:46] #76 closed

[2017-05-01 22:02] redblobgames commented on #1
I checked in a change that uses the bootstrap CDN; this removes the need for the copyback step.

[2017-05-01 22:03] redblobgames commented on #48
@merovingienne I've checked in a change that loads Bootstrap from CDN instead of making our own minified copy so this kind of problem should not happen anymore.

[2017-05-01 22:03] #48 closed

[2017-05-02 01:41] Ghost---Shadow commented on #1
Not really, if in future we use some other scripts which are not already hosted we would need to use this.

[2017-05-02 01:42] Ghost---Shadow commented on #26
@redblobgames Why did you close this?

[2017-05-02 02:29] redblobgames commented on #26
@Ghost---Shadow Oh, you're right, I shouldn't have closed this.

[2017-05-02 18:33] Rishav159 commented on #57
I made the bi-directional bfs with the default graph we have been working so far. Now that i tried increasing the number of nodes, the poisson disc generation method is currently able to build 500 nodes very fast but rendering them is very slow. The svg elements are not created again but the current code still updates the color of each and every node as well as edge. This must be making it slow. T

[2017-05-03 15:43] redblobgames commented on #57
@Rishav159 Since this chapter uses two.js, and two.js supports canvas output, is that something that would be easy to try out?

We don't yet know whether 500 nodes will make a good visualization so I would first try to see if it looks useful before investing much effort into making it fast.

[2017-05-04 10:35] Rishav159 commented on #57
@redblobgames  I am sorry if its a stupid question, but what does it mean to support canvas output? I googled it and it looks like you want me to provide an image or a gif of the visualization without actually rendering it in the browser. Is that correct? Or am i missing something?

[2017-05-04 14:57] redblobgames commented on #57
@Rishav159 not a stupid question :) The web is kinda of a mess. There are three different graphics systems supported by browsers — svg, canvas, and webgl.

With svg we are creating 500 <circle> objects on the page, plus probably thousands of <line> objects. That might be why it's slow. With canvas we create just one <canvas> image and draw the circles and lines onto that image.

<canvas> is often

[2017-05-05 13:24] Rishav159 commented on #57
@redblobgames Okay got it. I will try to do this

[2017-05-06 10:02] alireza-a commented on #62
I reimplemented all the visualizations with D3.js and created a similar interface to the A* search article. Here is a [demo](https://www.useloom.com/share/17ed1436035b4f7d8add64dbacb94322) for what I have so far.

- I need to play with the color scheme and transitions further
- I am considering other graphing libraries for the state-values

Is there anything else I should try before moving on to t

[2017-05-06 15:49] redblobgames commented on #62
Looks cool!

The diagram right now shows how states are evaluated and values updated. Can you put something in there describing what the colors mean? What is dark green vs light green?

BTW if you want arrows in d3, I have some code (adapted from the SVG documentation) to produce an arrowhead marker:

    // run this once on the page
    var defs = d3.select('svg').insert('defs', ':first-child');

[2017-05-14 13:13] ptah23 opened #78 "Ch 5 - Adversarial Search visualisation links broken"
The Javascript links on http://aimacode.github.io/aima-javascript/5-Adversarial-Search/ is broken

[2017-05-14 14:03] Ghost---Shadow commented on #78
It has been broken for quite a while. Nothing new. It will be fixed when someone works on this chapter.

[2017-05-14 14:03] redblobgames commented on #78
The links are to {,c_}`alphabeta.js` but the files are {,c_}`alphaBeta.js`, so they work for local testing if you're on a case insensitive file system but they don't work on the production site. Chapter 5 hasn't been implemented yet so I think whoever implements them will fix this (maybe @ishapotnis1).

[2017-06-12 13:58] redblobgames commented on #27
@merovingienne Ok, @Rishav159 is working on ch 4 now but if you are still working on it, let us know so that we can coordinate.

[2017-06-14 06:40] alireza-a commented on #62
I am thinking of redesigning the states (squares) to make the changes in state-value more pronounced. I want to remove the text representing the state value and replace it with a bar in the square. This [__design__](https://www.canva.com/design/DACYWe7GKA8/view) is what I'm currently considering.

[2017-06-14 16:52] redblobgames commented on #62
@alireza-a I think that's a good idea. When there are lots of things changing on the page it may be difficult for the reader to read all the numbers. The visual representations would make it easier to see at a glance.

Your proposed design images 2 and 3 could be used for another design too: instead of showing all the lines in one chart on the right, you could show one chart inside each state's sq

[2017-06-14 17:03] redblobgames commented on #77
Ch 2 turned out not to be a great fit :-( and I made some examples outside of AIMA to show how to write interactive diagrams ([here](http://www.redblobgames.com/making-of/line-drawing/))

I implemented some of the diagrams for ch 2 but the user interaction and animation sometimes interfere with each other.

* If the user chooses an action for the agent but there is an animation already playing, we

[2017-06-19 01:36] alireza-a commented on #62
This is fun! I'll create a history bar chart for each state and update the animations to match.
I refactored my code and created an [MVC-like architecture](https://github.com/alireza-a/aima-javascript/tree/ch21-sv-bar/21-Reinforcement-Learning) (I might have gone too far with this). [Here](https://www.useloom.com/share/242989647be7435b970fb8cd7d25bc05) the state values have been replaced with bars

[2017-06-19 14:57] Rishav159 commented on #78
Looks like this issue is now fixed and can be closed.

[2017-06-20 03:07] redblobgames commented on #78
It works fine on a case insensitive file system but is still broken on case insensitive systems. I think it'll be fixed when someone replaces this chapter.

[2017-06-20 04:34] Rishav159 commented on #78
You mean 'still broken on case *sensitive systems'

[2017-06-21 01:09] redblobgames commented on #78
Er, yes, that's what I mean :)

[2017-06-23 00:37] redblobgames commented on #62
Looks nice!

[2017-06-24 11:43] Rishav159 opened #88 "6-Constraint Satisfaction Problems"
We can discuss the development in chapter 6 here.

[2017-06-24 12:02] Rishav159 commented on #58
Working under GSoC, I have added several visualizations under chapter 4.
The following visualizations are now present:

- **Introduction to hill climbing problem**: The reader is presented with a hidden state space diagram where only the current state and the already explored states are visible. The reader has 25 moves to try to find the highest peak. This motivates necessary intuition about the p

[2017-06-28 17:08] Ghost---Shadow opened #91 "About using the projects feature in Github"
I just noticed a Projects tab in Github. (Sorry, I didnt notice it before) I played around with it and it is kind of interesting. I think we should give it a try for the sake of experimentation. Perhaps we might end up liking it.

What do you all think?

[2017-06-28 17:40] Rishav159 commented on #91
I like the idea.

[2017-07-02 12:52] Rishav159 commented on #88
I want to improve the already implemented AC-3 diagram. It's quite difficult to understand what is happening in it without imagining the constraint queue in the mind. Also, there seems to be a few JS errors associated with the implementation. The console shows `Cannot read property '0' of undefined` after the algorithm is completed. I thought maybe create a new issue to address this problem, but I

[2017-07-02 15:57] redblobgames commented on #91
Yes, it's interesting, especially for medium sized projects with many tasks to keep track of. Trello is the more popular version. I think it'd be more useful for aima-javascript if the project were more active, but right now it's basically just one person implementing visualizations.

[2017-07-02 16:01] redblobgames commented on #88
The existing diagram seems more of a “this demonstrates to the reader that we implemented the algorithm” (which was the goal last year) and not “this demonstrates to the reader how the algorithm works” (which is the goal this year). I think you should feel free to improve, reimplement, replace, or remove it. What are the concepts to show?

- Arcs
- Queue
- Constraint checking

Would the sudoku dia

[2017-07-02 17:34] Rishav159 commented on #88
I agree with this. I believe the important concept to show here is the algorithm itself; ie, why the algorithm is what it is. More specifically, it should show why the arcs associated with a node is re-added back to the queue if the domain reduces (because it may cause further reductions in other variables).

[2017-07-03 14:11] Rishav159 commented on #88
I have been thinking about this concept and it doesn't strike a chord on how should i approach it. I want to demonstrate the working of the AC-3 algorithm. The sudoku problem could work, but I am speculating that the queue will be too large for the reader to understand what is happening. Also, sudoku is a specific case where there is only one valid assignment which is the solution as compared to t

[2017-07-03 18:18] redblobgames commented on #88
It happens. I recommend moving on to the next thing. Sometimes our brains will come up with ideas while we are working on other things. And sometimes there just isn't a good diagram for a concept.

[2017-07-03 19:06] Rishav159 commented on #88
Okay. I will move on to the next concept.

[2017-07-04 04:46] redblobgames commented on #88
(Random thoughts to save for later) I guess what's nice about the Australia graph is that it's small and we're hoping that would allow for more detailed visualizations (such as showing all arcs). But AC-3 can't solve it (if I understand correctly). And what's nice about Sudoku is that it's something many readers will already understand the rules for. But it might be too big, and it might not show

[2017-07-08 02:04] redblobgames commented on #88
This page has some constraint satisfaction problems other than what's in the AIMA textbook. I don't know whether they're good matches for AC-3 though http://www.teach.cs.toronto.edu/~csc384h/summer/Project/Project_ideas.html

[2017-07-08 02:49] Ghost---Shadow commented on #88
For gardening, the equations can be modified

[code]

to

[code]

Then some sprites can be added to show which type of plants are placed where.

[2017-07-14 15:55] redblobgames commented on #27
@preethi26 Are you still working on chapter 18? If so, please coordinate with @Rishav159

[2017-07-14 16:14] Rishav159 commented on #60
I love the Decision tree learning idea from @preethi26 This seems like a great way to demonstrate Decision tree learning. The reader will be forced to think about the best parameter that divides the dataset. We can show proper feedback after that. After the decision tree is learned, we can allow the user to give enter a new row of data and watch the tree predict it.
@preethi26 If you have made som

[2017-07-14 16:22] preethi26 commented on #60
Sure @Rishav159
I have created a branch and worked on it separately,
here is the link, [decision-tree](https://github.com/preethi26/aima-javascript/tree/decision-tree/18-Learning-From-Examples). I would like to collaborate with you.
Have a look at it :)

[2017-07-14 16:40] Rishav159 commented on #60
Sure

[2017-07-14 17:57] Rishav159 commented on #60
Can you please explain what the diagram does ?

[2017-07-15 06:22] preethi26 commented on #60
Sure @Rishav159,

Open the console ( ctrl + shift + i )
In the diagram: Squares represent the examples and the circles represent the classes.
reload the web page.

You will find the constructed decision tree's nodal forks ( where each fork is a class ) in the descending order. For example, if it is: (1,10,6,5) in the descending order, it means that the tree has the following integers as the nodal

[2017-07-18 14:34] redblobgames commented on #57
Alternatively, if you haven't started a canvas implementation yet, you might try just 20-30 nodes and see if bidirectional search makes sense with that

[2017-07-18 14:51] Rishav159 commented on #57
I am currently trying to generate a random planar graph using poisson disc sampling technique. I have already implemented the algorithm for bidirectional search but not yet made a visualization for it. As you mentioned earlier, it will only make sense when there are lots of nodes in the graph.
I wanted to demonstrate the concept that `b^d` is much less than `2*b^(d/2)`. It will be much clearer if

[2017-07-28 14:43] nervgh commented on #57
Good day!

Thank you for your work!

I see that `A*-search` is not implemented yet. I can propose my [simple implementation](https://github.com/nervgh/astar-algorithm) of this algorithm. If you will find this useful it will be great :smiley_cat:

[2017-07-30 16:00] redblobgames commented on #57
@nervgh thanks! We are mostly working on visualizations and not worried so much about the code. Norvig's A* code is pretty simple (see the [python version](https://github.com/aimacode/aima-python/blob/master/search.py#L395)) and it lets us reuse the graph search for other visualizations.

If you are using your A* code in a real project you may want to use a better priority queue. Changing from O(N

[2017-07-30 22:02] alireza-a commented on #62
I'm occupied with final exams until Aug 17th. I'll get back to this after I get free.

[2017-07-31 14:01] nervgh commented on #57
@redblobgames thank you for your informative comment!

Yes, it is. I had leave [one reminder](https://github.com/nervgh/astar-algorithm/blob/master/lib/index.js#L13) for myself.

I have not so much time but I think yes. Why not :smiley_cat: How I can start working on it? Should I know something besides the [Contribution Guide](https://github.com/aimacode/aima-javascript/wiki/How-to-Contribute)?

[2017-08-03 23:50] redblobgames commented on #57
@nervgh Cool! Yes, the contribution guide, the implementation guide linked from there, and the code in chapter 3 are the things to look at. You'll find that the code is less structured than in many other projects,  in part because it's more like a hundred tiny projects than one big project, and in part because it's experimental — we *don't* know which diagrams will work well, and we often  have to

[2017-08-04 08:46] nervgh commented on #57
@redblobgames thanks, I've read those docs. The best way of data representation (visualizations) is the hard choice.

I can try explain my approach (roadmap) for visualization of the A*-search algorithm:
+ If we need graph representation I can use [visjs](http://visjs.org/index.html),
+ If we need matrix (table) representation like [that](http://qiao.github.io/PathFinding.js/visual/) I can use [Vu

[2017-08-04 09:09] nervgh commented on #1
I don't know what exactly means this discussion, but I have some production experience with front-end and back-end JavaScript development and I could help with some things like [bundling](https://webpack.github.io/) (minification/uglification) if this project really need that.

However, I think this project should focus on [algorithms and them visualization](https://en.wikipedia.org/wiki/Minimum_v

[2017-08-04 15:57] norvig commented on #1
I agree that the focus is on understanding algorithms through visualization.

On Fri, Aug 4, 2017 at 2:09 AM Alex <notifications@github.com> wrote:

[2017-08-04 20:44] redblobgames commented on #57
@nervgh Take a look at what's already implemented for chapter 3 — we already have graph data structures, random  datasets, visualizations (of frontier, expanded, and unexplored areas), and a slider+button UI. Uniform cost search is similar to A*, so I think the best thing to do will be to adapt that code to show how A* differs from uniform cost search.

[2017-08-04 20:49] redblobgames commented on #1
@nervgh Yes, the focus is on the visualizations and not on bundling, minification, etc. Algorithms from the textbook are needed only if the visualizations need them (not all of them do), and the problem sizes are typically small, so algorithm optimizations are usually not needed.

[2017-08-05 17:56] nervgh commented on #57
@redblobgames ok. I will try to reuse project's code as much as I can.

[2017-08-05 18:05] Rishav159 commented on #57
Hey @nervgh, I wrote most of the code for this chapter. I apologise in advance for its bad condition! I'm still new to this. If you need help understanding any part of the code, I can help you with it.

[2017-08-06 06:23] nervgh commented on #57
@Rishav159 good day. Don't worry about the quality of your code. I think that is not worst than my English skills. :smile_cat: Thank you for your suggestion of the help. I'll let you know if I need it.

[2017-08-13 16:51] nervgh commented on #57
@redblobgames I've pushed some visualization of A*-search algorithm into [57-Solving-Problems-By-Searching](https://github.com/nervgh/aima-javascript/tree/57-Solving-Problems-By-Searching). Please, see that and say your think about it. I mean we can modify that as we need.

[2017-08-13 17:35] redblobgames commented on #57
@nervgh Looks nice. Thoughts:

1. If you merge the master branch you will have a slider class to play with. We've found the slider to be more useful as it lets the reader see things step by step at their own pace instead of at the fixed speed of setInterval
1. The heuristic is not admissible or consistent. You can see this by searching from `A` to `O`. It will find the path A-D-E-I-K-N-O (g=19) bu

[2017-08-13 20:22] nervgh commented on #57
@redblobgames thank you for your review.

1. What does the "slider class" mean? Is it css or js class? Could you give me a link to the line of code? If you mean [\<input type="range"\>](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/range) so I've added `step forward` button because I did not implement `step backward` functionality. Only `play/pause`, `step forward` and `reset` bu

[2017-08-15 01:32] redblobgames commented on #57
@nervgh Take a look at the uniform cost search diagram on http://aimacode.github.io/aima-javascript/3-Solving-Problems-By-Searching/ — we used to have it animate on page load but now use a slider so that the reader has control over the speed of the process.

Another dataset that may be useful is the bidirectional search diagram on the page. That one (drawn with canvas instead of svg because it has

[2017-08-15 05:20] norvig commented on #57
These are looking very nice!

[2017-08-15 16:10] redblobgames commented on #57
@nervgh For formatting, you might try [prettier](https://github.com/prettier/prettier). I think its default settings are similar to the style used in this project. You can run `prettier --write` at the command line (works like `standard --fix`).

[2017-08-15 18:29] nervgh commented on #57
@redblobgames

By the way, it would be great to have anchors per section (algorithm). It would give readers the ability to make references directly to an algorithm. For example:
+ http://aimacode.github.io/aima-javascript/3-Solving-Problems-By-Searching/#node-expansion
+ http://aimacode.github.io/aima-javascript/3-Solving-Problems-By-Searching/#breadth-first-search
+ etc.

Good. I will try to use

[2017-08-15 19:47] nervgh commented on #47
Hello!

[There1](https://github.com/aimacode/aima-javascript/issues/57#issuecomment-322055509), [there2](https://github.com/aimacode/aima-javascript/issues/57#issuecomment-322065089) and [there3](https://github.com/aimacode/aima-javascript/issues/57#issuecomment-322353465) I and @redblobgames have mentioned libraries/frameworks like jQuery and Vue. The key points which I'll want to discuss here ar

[2017-08-16 21:28] redblobgames opened #98 "Add table of contents and links to sections"
For chapters that are more than one screenful, add a table of contents at the top that links to each of the sections.

[2017-08-16 21:31] redblobgames commented on #57
@nervgh I agree, it would be nice to add anchors. Until recently none of the chapters were even close to being complete so we hadn't set up a table of contents or section links. I created #98 to track this.

I agree that automatic code formatting is nice, especially when multiple people are working on the same code. For the most part, it hasn't come up yet because we don't have a lot of people con

[2017-08-16 22:27] redblobgames commented on #47
@nervgh I agree about moving the scripts to the bottom. We have changed some chapters to do this but not yet all of them. (Most chapters, nobody is working on.) I think Bootstrap requires jQuery so we may still end up including it. :(

There isn't a lot of jQuery (117 lines out of 6124). Most of the visualization UI is not done with jQuery, but instead done with a visualization library (Two.js or

[2017-08-17 01:54] Ghost---Shadow commented on #47
I was going through [React Pong](https://github.com/ohall/react-pong). It looks like a lot of effort for something so simple. React Canvas is justified if the project is large and there is a substantial amount of logical complexity. However, here we are mostly dealing with several smaller games instead of one large game.

Another reason, I picked two.js was because I was used to thinking with the

[2017-08-17 17:01] redblobgames commented on #47
@Ghost---Shadow I agree, we're building hundreds of small things (with a little bit of sharing) instead of one big thing, and some of the frameworks (React, Angular, Ember, etc.) are designed for making a big system. I think one reason d3 is a good fit for us is that it is most commonly used with hundreds of small things (https://bl.ocks.org/). Plus, it's designed for visualization instead of “web

[2017-08-18 17:24] Rishav159 commented on #98
Sounds like a nice idea. If anyone else wants to do it, they can take this up or else I will be turning my focus towards this near the last week of GSoC.

[2017-08-23 14:20] prakamya-mishra commented on #98
I will try to do it. is it ok?

[2017-08-23 14:22] Rishav159 commented on #98
@prakamya-mishra Sure.

[2017-08-24 12:07] prakamya-mishra commented on #98
I have given a PR . if it looks good then I will implement it to all the chapters.

[2017-08-25 06:49] prakamya-mishra commented on #98
Now I will add this to all other  chapters.

[2017-08-26 06:03] prakamya-mishra commented on #98
I have applied it to all the chapters with this problem in PR -#100.

[2017-08-26 16:02] #98 closed

[2017-08-26 16:03] redblobgames commented on #26
We haven't been using gulp for a few months now so I'm closing this. We can re-open if we start using gulp again and run into the problem.

[2017-08-26 16:03] #26 closed

[2017-08-26 16:03] redblobgames commented on #25
We are no longer using gulp for gh-pages, so I'm closing this issue for now. We can revisit if we use gulp for gh-pages in the future.

[2017-08-26 16:03] #25 closed

[2017-09-03 15:04] nervgh commented on #57
@redblobgames I'm sorry for the long response delay. I had some high-priority everyday tasks. The current status is:

https://github.com/aimacode/aima-javascript/issues/57#issuecomment-322055509

[fixed](https://github.com/nervgh/aima-javascript/commit/9330f27dbf2f437b58eb39585398a00cdbd42334)

https://github.com/aimacode/aima-javascript/issues/57#issuecomment-322055509

I've tried fix this using

[2017-09-03 17:48] prakamya-mishra opened #103 "22-Natural Language Processing"
I would like to work on Ch - Natural Language Processing.
Should we talk on what and how to implement in this section?

[2017-09-04 10:43] prakamya-mishra commented on #103
@redblobgames and @Rishav159 I would need your point of view?

[2017-09-04 18:22] redblobgames commented on #103
Great! I'll mark chapter 22 for you in issue #27.

I actually don't know much about this topic (I didn't study AI from this textbook). There's a diagram and a table in the book that could be good starting points, but I don't have a lot of good ideas about what visualizations would be useful.

[2017-09-04 19:34] prakamya-mishra commented on #103
ok thank you @redblobgames . I will update you with what all visualisations will be useful for this chapter.

[2017-09-04 20:55] redblobgames commented on #57
@nervgh In your code you have A* skip the node if it's already in the queue. A* should _not_ skip the nodes that are already in the queue. See the last if statement in figure 3.14. If you skip that node then you lose the optimality of A*.

I don't understand what the dividing by 32 does but I will take another look at it when I get more time.

[2017-09-05 05:41] nervgh commented on #57
@redblobgames

Ok. I will investigate [that](https://github.com/aimacode/aima-python/blob/master/search.py#L267) issue.

I've played with existing data-set and have thought about how to adapt that. It is the stupid attempt to "scale down" euclidean distance :smile_cat:

I'm sorry, Amit. But I'm still like a child in AI. :baby:
Thank you for your time and patience.

[2017-09-05 23:02] redblobgames commented on #57
@nervgh No worries! Our main goal is not to implement the algorithms (although that's sometimes necessary), but to figure out what the core concepts are that someone new to AI would need to understand. So it'll be helpful to us if you have suggestions on what concepts were most confusing for learning A*. Then someone (you or someone else) can think about how best to show those concepts with the A*

[2017-09-07 07:36] prakamya-mishra commented on #103
Ch - 22 Natural Language Processing:

- [ ] Language Models

- [ ] Text Classification

- [ ] Information Retrieval

- [ ] Information Extraction

[2017-09-07 07:36] prakamya-mishra commented on #103
I will start with Language Models

[2017-09-08 12:14] nervgh commented on #57
@redblobgames I had the second edition of "Artificial Intelligence: A Modern Approach" when I wrote my first comment in this thread. That book was translated on my native (Russian) language. What does it mean?
+ 2th and 3th editions have different structure between each other. For example, 3th edition contains the information about uniformed and informed search algorithms in one chapter when 2th e

[2017-09-08 16:10] redblobgames commented on #103
Great! What kind of visualization do you think would be useful for language models?

[2017-09-08 16:11] redblobgames commented on #57
@nervgh Aha! I had forgotten about the different editions. Yes, we have been working with the 3rd edition.  I think the Java folk are moving to the 4th edition.

[2017-09-08 16:12] prakamya-mishra commented on #103
I am thinking about it and will let you know when i get a good idea.

[2017-09-10 00:26] redblobgames commented on #103
If you don't find any ideas, take a look at the Python AIMA project (aimacode/aima-python). They have a Python Notebook that has an English/German language recognizer. The notebook (`nlp_apps.ipynb`) has only four examples, but if you edit the notebook you can try other text. It's a neat little example that would be fun to make interactive, maybe even updating every time you type a letter.

For ai

[2017-09-10 23:36] redblobgames commented on #51
We now have a wiki; let's use the contribution guide there. https://github.com/aimacode/aima-javascript/wiki

[2017-09-10 23:36] #51 closed

[2017-09-10 23:45] redblobgames opened #105 "Ch3 - diagrams overlap when browser resized"
Go through all the sections of chapter 3 and make sure they work at different browser widths. The page uses Bootstrap but if it's cleaner to do without Bootstrap (e.g. flexbox or css grids), that would be fine.

Screenshots:

<img width="487" alt="screen shot 2017-09-10 at 16 44 20" src="https://user-images.githubusercontent.com/8757369/30254058-6d6175fe-9647-11e7-9129-b43e11062a29.png">
<img widt

[2017-09-10 23:47] redblobgames commented on #105
The SVG `viewBox` parameter is sometimes useful here. You can design the diagram for a given size, and put that size into the `viewBox`. Then if the SVG is resized, it still keeps the original coordinate system that `viewBox` specifies.

[2017-09-11 00:08] redblobgames commented on #58
Feedback from someone I showed this chapter to:

- Simulated annealing diagram was confusing, as it already found the best value when he hit Restart and it didn't seem to have to search anymore.
- The temperature change was confusing, as it says to change it, but doesn't give you guidance on how much or how quickly.

[2017-09-11 00:11] redblobgames commented on #57
@Rishav159 Feedback from someone I showed this chapter to:

*For bi-directional search, the behavior is the same for any location in the graph. Are there graphs where some locations are good for bi-directional search but other locations are bad? And if so, it might be useful to be able to position the begin/end nodes so that the reader can see some places it's good and some places it's bad.*

My g

[2017-09-11 07:25] Rishav159 commented on #57
If we assume that the starting and end points are known, there are very few instances where bi-directional bfs performs poorly than standard bfs.
From what I can think of right now, bi-directional bfs visits a lot more nodes if the the destination is *not reachable* from the source node. Other than that, I can't think of any other case where bi-directional bfs performs worse than standard bfs.

[2017-09-11 07:54] Rishav159 commented on #58
I have not encountered this problem yet as if I press restart, the slider changes back to highest temperature and the diagram keeps searching.
Although, I agree there are several problems with the diagram. The algorithm is difficult to demonstrate using state space diagram like the hill diagram we have used. Also, we have made several inconsistent assumptions (for example, by setting width to 100%

[2017-09-11 07:55] Rishav159 commented on #105
I am on it.

[2017-09-11 13:43] prakamya-mishra commented on #103
@redblobgames thank you these suggestions .Sorry i am not able to work on this because my exams are coming, but i will immediately start working on it as soon as it gets over.

[2017-09-11 17:56] redblobgames commented on #103
@prakamya-mishra No worries! There is no hurry here.

[2017-09-13 20:39] redblobgames commented on #58
Agreed, we can revisit this when/if we redesign the diagram.

[2017-09-14 06:15] nervgh commented on #57
@redblobgames I read aima3 now and I see that [we did not mention](http://aimacode.github.io/aima-javascript/3-Solving-Problems-By-Searching/#iterative-deepening) about of the advantages of "Iterative deepening depth-first search":

and breadth-first search. Like depth-first search, its memory requirements are modest: O(bd)
to be precise. Like breadth-first search, it is complete when the branchin

[2017-09-14 17:29] redblobgames commented on #57
@nervgh Yes, this is one of the things we may change in the future. We were told that we should make the visualizations for people who are currently studying from the book, so we should *not* include the explanations that are in the book on the web pages. @Rishav159 and I thought we should include a *small* amount of explanation. After we get feedback from the authors of the book, we may need to r

[2017-09-14 18:03] nervgh commented on #57
@redblobgames Thank you for the clarification!

[2017-09-14 19:27] nervgh commented on #57
@redblobgames

[fixed](https://github.com/nervgh/aima-javascript/commit/7b3ef49528148a414e1c3a163aa40c13647fa6ec)

[fixed](https://github.com/nervgh/aima-javascript/commit/9f7e12673b83084e84572049ecbadca6a0990094)

It looks like the h(n) is admissible and consistent now. Am I wrong one more time? :smile_cat:
The paths `A->L` and `A->K` assert it (for me).

However, there is 11pm on my clock at the

[2017-09-16 10:44] nervgh commented on #77
@redblobgames I'm not sure but it looks like that [the status](https://github.com/aimacode/aima-javascript/wiki/How-to-Contribute#index-of-chapters) of this chapter should be "Partially completed".

[2017-09-16 15:59] nervgh commented on #57
@redblobgames

The visualization of A* works with the slider from [now](https://github.com/nervgh/aima-javascript/commit/aee456d16ef4ad6cf020fa4db8108f23eb68d8c6).

[2017-09-16 19:38] redblobgames commented on #77
@nervgh Yes, you're right — I'll update it!

[2017-09-16 19:54] redblobgames commented on #57
@nervgh Looking pretty good!

(Side note: I think one day someone will figure out how to make the javascript code as short as the python version that Peter Norvig wrote (see https://github.com/aimacode/aima-python/blob/master/search.py#L395) — it reuses search functionality instead of each algorithm reimplementing search)

[2017-09-17 03:56] nervgh commented on #57
@redblobgames Thank you! :smiley_cat:

+1 for reusing and simplification of the code

I want to complete the A* visualization. The checklist for my task I see like this:
+ [ ] I should reformat the code using prettier. [guideline](https://github.com/aimacode/aima-javascript/issues/57#issuecomment-322512894)
+ [ ] I should rewrite the code without Vue.js. [guideline](https://github.com/aimacode/aim

[2017-09-17 17:48] redblobgames commented on #57
@nervgh Yes, please format the code with prettier, and use two.js (and a little bit of jquery) instead of vue.

Although it would be possible to rewrite the entire chapter with vue instead of two.js, it has low benefit compared to other things we could do. This chapter is nearly complete. We have been letting whoever writes the majority of the chapter to choose the library (see issue #47), so vue

[2017-09-17 19:21] nervgh commented on #47
@redblobgames

We need jQuery only if we would use some Bootstrap's [js-components](https://getbootstrap.com/docs/3.3/javascript/) which require jQuery. In other words, we _don't_ need jQuery when we use Bootstrap's stylesheets only.

+1

I haven't seen that. Google says that there is [vue-canvas](https://github.com/ktsn/vue-canvas) but I don't think that it would be suitable for us.

Thank you! I

[2017-09-17 20:02] nervgh commented on #57
@redblobgames

I think it would be reasonable to add the prettier as the [devDependency](https://github.com/aimacode/aima-javascript/blob/master/package.json#L22) to this project. I am not sure, do we really use all these ([one](https://github.com/aimacode/aima-javascript/blob/master/package.json#L22), [two](https://github.com/aimacode/aima-javascript/blob/master/package.json#L31), [three](https:/

[2017-09-18 14:02] nervgh commented on #57
@redblobgames

I've done [two subtasks](https://github.com/aimacode/aima-javascript/issues/57#issuecomment-330016898).

+ I've removed Vue and jQuery for the A* visualization. But I'm still thinking than the declarative (functional?) approach was much better than the imperative one ([diff](https://github.com/nervgh/aima-javascript/compare/aee456d16ef4ad6cf020fa4db8108f23eb68d8c6...19b968df8bd10c72

[2017-10-09 07:17] nervgh commented on #57
@redblobgames I hope I have not said something awful and we could continue working on this task and finalize it in the future :smiley_cat:

[2017-10-09 15:55] redblobgames commented on #57
@nervgh I'm terribly sorry! I was away for a few weeks and then I forgot to check this when I got back.

1. No, we don't currently use all the dependencies, or even package.json at all. I think the people who set these up would like keep these in there. My involvement in this project is primarily for visualizations and not to choose coding style, libraries, build system, folder structure, web desi

[2017-10-10 20:45] nervgh commented on #57
@redblobgames don't worry about it! :v: We are humans and we make mistakes all the time. Especially I am :smile_cat: Anybody who does not work that one does not make them! (I am not sure how exactly to say this in English =)

1. I think I could help with that
2. I have not solution right now but I could investigate this problem and try to found something appropriately for us (it has low priority I

[2017-10-11 10:06] prakamya-mishra commented on #103
@redblobgames  for N-gram character models can i make a section like this [link](https://www.youtube.com/watch?v=IkJt3duIH2U) ?

[2017-10-11 14:32] prakamya-mishra commented on #103
I have added character level unigram . @redblobgames if you like it then i will also implement character level bigram and trigram , word level unigram,bigram and trigram.

It looks like this:
<img width="1440" alt="screen shot 2017-10-11 at 7 59 21 pm" src="https://user-images.githubusercontent.com/22093105/31447191-02b8359a-aebf-11e7-9d35-1e0bf2830cdd.png">

[2017-10-11 17:47] redblobgames commented on #103
Sounds good! For the visuals you might try something like `<kbd>H</kbd> <kbd>i</kbd> <kbd> </kbd> <kbd>t</kbd> <kbd>h</kbd>` instead of using the | character.

[2017-10-11 18:30] prakamya-mishra commented on #103
@redblobgames Thanks for the input i will do that,
I will use this, and i will try to add character level bigram and trigram , word level unigram,bigram and trigram also and give a PR.

[2017-10-11 18:59] prakamya-mishra commented on #103
@redblobgames i don't think that this looks good. what do you think?
<img width="1439" alt="screen shot 2017-10-12 at 12 27 15 am" src="https://user-images.githubusercontent.com/22093105/31460476-3abb2518-aee4-11e7-9709-eeaad5185760.png">

[2017-10-11 19:12] prakamya-mishra commented on #103
What about this?
<img width="1438" alt="screen shot 2017-10-12 at 12 41 51 am" src="https://user-images.githubusercontent.com/22093105/31461131-39694f44-aee6-11e7-8b9d-724d053395b7.png">

[2017-10-11 19:17] redblobgames commented on #103
@prakamya-mishra Yes, the black background doesn't look good but I think it's not the same as the code I suggested:

<img width="173" alt="screen shot" src="https://user-images.githubusercontent.com/8757369/31461262-df1586ba-ae7d-11e7-96ab-2b59a2df83d4.png">

I agree, the comma looks better than the vertical bar.

There's probably an even nicer style somewhere in between but that can be figured ou

[2017-10-11 19:32] prakamya-mishra commented on #103
This?
<img width="1436" alt="screen shot 2017-10-12 at 1 01 07 am" src="https://user-images.githubusercontent.com/22093105/31462057-eefdd33c-aee8-11e7-85a6-84892ce164d3.png">

[2017-10-12 02:51] OmarShehata commented on #105
Is anyone still working on this? @Rishav159

[2017-10-12 05:18] Rishav159 commented on #105
@OmarShehata You can take over if you like :) I have been a little busy.

[2017-10-12 16:26] OmarShehata commented on #105
I'd love to jump on this as a way to familiarize myself with the project and get a first contribution in!

[2017-10-13 08:27] nervgh commented on #58
Hi everyone!

I'm reading the book and I've reached this chapter :smile_cat:
I see that you've done great work :+1:

I could help with something if it needed. But I don't know where start from.
I've created the task list for more comfortable tracking of status of this chapter (I mean as I see it).

+ [x] Optimization Problem
+ [x] Hill Climbing Search
+ [x] Simulated Annealing
+ [x] Genetic Algori

[2017-10-14 16:25] prakamya-mishra commented on #103
@redblobgames do you have suggestions for text classification ?

[2017-10-15 16:33] redblobgames commented on #103
@prakamya-mishra Sure, see [this comment](https://github.com/aimacode/aima-javascript/issues/103#issuecomment-328311644) — the English/German language recognizer might be a fun interactive visualization. The book suggests email spam/ham, and that might also be fun.

If the data set is large you might run the training offline and generate a json, and then load the json into the browser visualizatio

[2017-10-15 18:30] prakamya-mishra commented on #103
@redblobgames great idea, thanks for the input I will try to do this.

[2017-10-16 15:09] prakamya-mishra commented on #103
@redblobgames can you please guide me more on how to make a web based language classifier?can you provide me with some demo links and resources?

[2017-10-16 21:09] redblobgames commented on #103
@prakamya-mishra I've not done a language classifier myself but I think the python and pseudocode versions of aima will have some code to look at.

It's unclear whether a web version is even feasible. That's part of the difficulty of aima-javascript — we don't know what will work, so people try things out, and then sometimes have to throw things away if they don't work. I'd suggest first trying a

[2017-10-19 16:44] nervgh commented on #58
@redblobgames , @Ghost---Shadow ping =)

[2017-10-21 15:20] redblobgames commented on #58
@nervgh Let's ask @Rishav159 as he was the last one working on this chapter and can suggest what's missing or needs work

[2017-10-22 12:04] prakamya-mishra commented on #103
@redblobgames If have made this for text classification part. Please give your input 😄
![ezgif com-video-to-gif 1](https://user-images.githubusercontent.com/22093105/31861683-1d9b3482-b74f-11e7-98bf-d3b099e68e30.gif)

[2017-10-22 13:07] Rishav159 commented on #58
@nervgh  The reason we do not have a fixed task list is because the tasks are not that well defined. We might need multiple diagrams to demonstrate a concept and sometimes, a concept doesn't really need an interactive visualization at all ! Although, I agree starting with a list like this is a good way to start off.
For this chapter,

- Genetic Algorithm diagram does not seem to explain the concep

[2017-10-22 16:10] redblobgames commented on #58
@Rishav159 Thanks! Good starting point. I agree, we don't know what the page will have so it's hard to make a good task list. A lot of this will require experimenting. Sometimes there won't be any good interactive visualization for a concept (we may not be able to find something that's better than the explanations in the book).

[2017-10-22 16:24] redblobgames commented on #103
@prakamya-mishra that'd be a cool demo. The main goal is to show readers of the textbook what the main concepts are and how the algorithms work. What are the main ideas and algorithms that would be needed to implement that demo? How can we show those to the reader so that they understand how the classification works?

[2017-10-22 16:27] prakamya-mishra commented on #103
@redblobgames ok got it i will work on it.I am giving a pull request now for this then i will add the visualisation part also.

[2017-10-22 16:33] #105 closed

[2017-10-22 17:07] nervgh commented on #58
@redblobgames , @Rishav159 thanks!

I agree that we don't have to have a fixed task list. That might be dynamic =) For instance, we have a chapter which contains few concepts (algorithms). At this point we already know _what_ we should visualize. May be we do not know _how_ to do that, but we know that we should do it. And our task list should mirror it (for example):

+ [ ] Implement visualizatio

[2017-10-23 17:53] redblobgames commented on #58
@nervgh I definitely agree that having these kinds of task lists would be useful for new contributors. It's just that there's no one to maintain those lists (**), so my worry is that the lists will get out of date. So instead we've been letting whoever's working on the chapter keep their own list. For the most part each chapter has been worked on by one person.

** Rishav and I were working on thi

[2017-10-24 06:05] nervgh commented on #58
@redblobgames thank you for this comment! I see that you have done great work :+1:

This project is still curious for me and I am going to continue working on it. But I am moving slowly :turtle: because I am learning English and Math in parallel :book: And I have a work of course =)

I want to be useful but I am not sure where I should moving on. For example, I have a little experience with Math L

[2017-10-24 18:28] redblobgames commented on #58
@nervgh You have good points about not being able to see the status. Maybe after each chapter is 80% finished the author of that chapter can make a list of the things remaining, and then we can make them into github issues. I can work with @Rishav159 (who did all the work over the summer — I was only the mentor) to put that list into github issues. So far most of the work has been on new chapters

[2017-10-24 18:31] redblobgames opened #111 "Ch 22 - larger training set for text classification demo"
The current training set for the language classification demo is small. This is good for load time but not as good for classification.

If we increase the training set we'll make the page load slower.

Is it possible to train offline and then load the training results in the web page, or will that be just as big as the training data itself?

[2017-10-24 18:33] redblobgames opened #112 "Ch 22 - language classification demo misbehaves when pressing Enter"
In the language classification demo, type some text and press Enter instead of clicking the button. The page erases the text and reloads instead of running the classification. I believe this is because the html specifies a `<form>` and form submission goes back to the server by default. Either make form submission trigger the classification, or take out the `<form>`.

[2017-10-24 19:30] OmarShehata commented on #112
I'd like to take this! Perhaps as a warm up for further developing this chapter.

[2017-10-25 01:29] redblobgames commented on #112
@OmarShehata Great! Note that @prakamya-mishra is also working on this chapter right now.

[2017-10-25 03:00] OmarShehata commented on #112
Ah, thanks for the heads up! I'll wait and keep watching the progress on this chapter then and see if there are other specific things I could help with.

[2017-10-25 05:56] prakamya-mishra commented on #103
@redblobgames now i will start working on IR scoring functions.So do you have any suggestions for that? and side by side i am also thinking of an innovative idea for text classification.

[2017-10-25 16:12] #112 closed

[2017-10-25 16:28] redblobgames commented on #103
@prakamya-mishra The book described the BM25 scoring function, but right now I cannot think of any visualizations that will make that easier to understand. Calculating the score is easy but not very useful. I think seeing the score will not help the reader understand *how the function works*. I don't have any ideas right now :(

[2017-10-25 17:42] prakamya-mishra commented on #103
Ok @redblobgames i will think of some thing and will get back to you.

[2017-10-26 16:33] redblobgames opened #115 "Ch 4 - Redesign genetic algorithm diagram"
There is [a diagram](http://aimacode.github.io/aima-javascript/4-Beyond-Classical-Search/#genetic-algorith) but it's only an implementation of genetic algorithms and not an explanation of them. We want diagrams that explain the concepts (crossover points, mutation, asexual vs sexual reproduction), and how the algorithms work.

[2017-10-26 16:35] redblobgames opened #116 "Ch 4 - Redesign Online DFS Agent diagram"
The [existing diagram](http://aimacode.github.io/aima-javascript/4-Beyond-Classical-Search/#online-dfs-agent) is an implementation of the algorithm but we want diagrams that show the concepts and how the algorithm works. For example, the diagram should show untried and unbacktracked from the algorithm.

[2017-10-26 16:36] redblobgames opened #117 "Ch 4 - Improve Simulated Annealing diagram"
@Rishav159 writes:

[2017-10-26 16:38] redblobgames opened #118 "Ch 3 - Animate the queue operations"
From @Rishav159:

[2017-10-26 16:40] redblobgames opened #119 "Ch 3 - Add hover effect to connect left and right side of diagrams"
From @Rishav159:

It would be nice if hovering on *either* side of the diagram showed the connection to the other half.

[2017-10-26 16:44] redblobgames opened #120 "Ch 3 - Show why Depth-Limited and Iterative-Deepening search is useful"
The book says we would use depth-limited or iterative-deepening search when the tree is large (maybe infinite), and breadth first search would use too much memory. It might be useful to make that comparison in these two diagrams by showing how much memory is used by breadth first search vs depth limited search.

[2017-10-26 16:49] redblobgames opened #121 "Ch 3 - Show concepts for A* search"
The current diagram shows the mechanics of A* search (g value, h value, f value, etc.) but not some of the concepts in the book:

* Admissible/consistent heuristic. Is it useful to show an inadmissible heuristic so that we would see a non-shortest path computed? I don't know.
* Contours. When the heuristic is admissible, the f values never decrease, and this creates contours in the graph. The curr

[2017-10-26 16:54] redblobgames opened #122 "Ch 4 - Improve hill climbing diagram"
From @Rishav159:

[2017-10-26 17:20] redblobgames opened #123 "Ch 4 - Add local beam search diagram"
We don't know whether local beam search makes for an interesting diagram but if someone has ideas, let's try them

[2017-10-26 17:24] redblobgames opened #124 "Ch 6 - Redesign arc consistency diagram"
The [current diagram](http://aimacode.github.io/aima-javascript/6-Constraint-Satisfaction-Problems/#arc-consistency) is an animation but it doesn't explain how the algorithm works or what the main concepts are. How does it compare to node consistency or path consistency?

[2017-10-26 17:24] redblobgames opened #125 "Ch 6 - Add backtracking heuristics"
From @Rishav159:

[2017-10-26 17:27] redblobgames commented on #88
@Rishav159's list of more things that could be done for chapter 6:

- A diagram to demonstrate k-consistency
- Min-Conflicts algorithm for solving CSP by local search
- Topological Sort
- Tree-CSP-Solver

[2017-10-27 03:29] OmarShehata commented on #103
Ok so having read the chapter, I like the n-gram visualization a lot @prakamya-mishra . It might be fun to add in n-gram models for words as well to be a random selection from a particular source (like a website) like they do in the book - that makes it really obvious that tri-gram models better characterize a source text much better.

The text classification might benefit from showing how it got

[2017-10-28 09:46] prakamya-mishra commented on #103
@OmarShehata Thanks for your inputs ,your idea for IR is great and I will try make that sort of visualisation.

[2017-10-28 11:47] prakamya-mishra commented on #103
@redblobgames I am thinking of this type of visualisation:
<img width="983" alt="screen shot 2017-10-28 at 5 15 22 pm" src="https://user-images.githubusercontent.com/22093105/32134119-d74948a2-bc03-11e7-8ce5-beb038845b8a.png">

[2017-10-30 09:58] prakamya-mishra commented on #103
@redblobgames This what i have finally made:

![ezgif com-video-to-gif 1](https://user-images.githubusercontent.com/22093105/32164878-cbd145e0-bd86-11e7-959b-280c39404dbd.gif)

I will give a PR after your suggestions 😄

[2017-10-30 18:02] OmarShehata commented on #103
Nice work @prakamya-mishra ! Do you think you modify this slightly to make it so each document can be a link or a corpus of text (instead of just a word of a phrase) ? I think that'll show a lot more interesting behavior then and could be a real tool to understand this algorithm.

[2017-10-31 05:21] prakamya-mishra commented on #103
@OmarShehata I was not able to find a good corpus so I have kept a variable there to which a good corpus can be added in future.

<img width="271" alt="screen shot 2017-10-31 at 10 48 55 am" src="https://user-images.githubusercontent.com/22093105/32208577-5d959db2-be29-11e7-82bc-df8fc85414cf.png">

[2017-11-04 16:20] newbazz commented on #78
I would like to work on this issue.

[2017-11-04 22:46] redblobgames commented on #78
@newbazz go for it

[2017-11-05 07:32] newbazz commented on #78
Can someone help me out how to solve the issue.

[2017-11-06 17:10] redblobgames commented on #78
@newbazz If you don't know how to solve this issue then leave it for whoever is working on chapter 5. Thanks.

[2017-11-06 19:12] newbazz commented on #78
Yeah m ready to leave. Can you help me to figure it out which issues are for beginners?

[2017-11-06 21:11] redblobgames commented on #78
@newbazz Let's take this discussion to gitter

[2017-11-08 06:51] nervgh commented on #117
When I have looked first time at the visualization of algorithm of Simulated Annealing it was not clear for me. I had expected decreasing the temperature step by step and completion of working of the algorithm. Then I opened the Wikipedia and found out that it has visualization which fits my expectations.

I guess we may visualize this concept like wikipedia does it:

![https://en.wikipedia.org/wi

[2017-11-14 14:41] nervgh commented on #117
@Rishav159 thanks for your work :v: Many of your visualization are really helpful for me.

Decreasing the temperature is not main idea that I was attempting to point on. It is just the trick that would help us to explain the process of optimization.

My vision is:
+ let us say, `f(x)` -- Simulated Annealing and `x` -- temperature, then
+ there is the range of `f(x)` that is bounded with `x`

and w

[2017-11-15 17:16] Rishav159 commented on #117
there is the range of f(x) that is bounded with x

I am not sure how f(x) is bounded with x. Almost all states are possible for every temperature. Its just that the probability of bad states being selected at lower temperatures is very low.

and he/she cannot see how the algorithm works from the beginning to the end, step-by-step

I agree with this.

For a particular temperature, there are several

[2017-11-16 10:51] nervgh commented on #117
@Rishav159 yes, i was talking about something very similar. I have done a couple of sketches based on Wikipedia's picture. I was changing the background and temperature only (without moving of current state, red line):

### Sketch 1
**frame 0**
![image](https://user-images.githubusercontent.com/2478262/32886929-589b6452-cad3-11e7-977d-56c5999076fa.png)
**frame 1**
![image](https://user-images.gith

[2017-11-17 17:15] redblobgames commented on #117
Would it be useful to plot the probability of choosing a state, as a function of temperature? Then as the temperature changes you'd see that probability distribution change. (This might be a separate diagram to introduce the concept before the diagram that shows the algorithm running)

[2017-12-14 21:25] regalhotpocket commented on #27
@ishapotnis1, @redblobgames
If either one of you is still active, would it be alright if I worked on ch 5?

[2017-12-15 17:51] redblobgames commented on #27
@regalhotpocket Sure, go ahead. See issue #72 for a place to discuss ideas

[2017-12-17 08:01] prakamya-mishra opened #129 "Ch1- Introduction"
I would like to work on Ch 1- Introduction also.
@redblobgames is it okay if I complete this first and then continue working with ch-22?

[2017-12-17 19:00] redblobgames commented on #129
Chapter 1 is mostly about history. What kinds of diagrams are you thinking about for chapter 1?

[2017-12-17 21:34] Dragneel7 opened #130 "Ch2 - Performance measures"
TODO: dirty/clean should be controlled automatically, reproducible using seeded RNG, and then display a line chart with the performance measure.

We can add the following feature by creating 2 types of agents:
1.) agent that moves continuously but takes up more time to clean
2.) agent that stops after regular intervals but takes less time to clean

We can either use a 1x2 floor or 2x2 floor to mak

[2017-12-18 05:18] prakamya-mishra commented on #129
I was thinking of making some kind of flowchart of how AI evolved for 1.3) THE HISTORY OF ARTIFICIAL INTELLIGENCE

[2017-12-18 17:26] redblobgames commented on #130
Sure, that could be cool. Here's a reproducible seeded RNG if you need one:

[code]
You may also find some ideas useful from [Ladder of Abstraction](http://worrydream.com/LadderOfAbstraction/)

[2017-12-18 17:28] Dragneel7 commented on #130
Thanks, I'll start working upon the idea.

[2017-12-18 17:36] redblobgames commented on #129
My guess is that such a flowchart would be nice to include in the book, but doesn't benefit much from interactive elements. It might be better to put it in the book directly instead of putting it on the website.

[2017-12-19 01:35] Dragneel7 commented on #130
I am facing a little problem while implementing agent2, i want to the agent2 to run for a while, then stop for a time period and then run again continuing this cycle.
How should I do this?

[2017-12-19 18:26] redblobgames commented on #130
The way the agents are programmed now may not be flexible enough for what you want. Feel free to implement them in a different way to make your diagram work. The implementation does not have to match the book's examples (the book's pseudocode is not designed with visualizations in mind).

[2017-12-20 19:35] regalhotpocket commented on #58
@Rishav159 @redblobgames
Is anyone actively working on chapter 4? I've been looking at the code and have a few ideas on how I would tackle some of the issues.

[2017-12-22 00:10] Dragneel7 opened #134 "Add Visualization for 8-Queen Problem"
The 8-Queen problem is a excellent example that proves not only a good searching example but also as a an example in the list of problems solved using genetic algorithms. So maybe we can add it.
I am note sure in which chapter should it go as it is mentioned in chapter3, 4, 6.
@redblobgames what do you think?

**Would like to work on it :** Yes.

[2017-12-22 04:29] nervgh commented on #58
@regalhotpocket there are the useful [issues](https://github.com/aimacode/aima-javascript/issues?utf8=%E2%9C%93&q=ch+4+is%3Aopen+). You can track status using those.

I guess Ch 4 is not under active development currently. You may fork at any time and improve these visualizations (via code review / MR).

[2017-12-22 05:47] regalhotpocket commented on #58
@nervgh
Good to know, thanks. I was actually looking at those issues, and I'll probably work on it tomorrow and post in the discussions to get feedback.

[2017-12-22 19:41] redblobgames commented on #58
@regalhotpocket There isn't much active development on this project anymore. It was part of Google Summer of Code (GSoC) in 2017 and there was active development during the student application process and also during the summer, but now it's a handful of people who want to work on it unrelated to GSoC. So feel free to tackle issues :-)

[2017-12-23 01:18] regalhotpocket commented on #117
I think a combination of the two ideas would be ideal. If we can give every state a color based on a it's probability, I think it would be a lot easier to understand.

However, I think the best solution would be to provide an alternate implementation before the current one, where the only actions that can be taken are left and right moves. This will cause the agent to move back-and-forth very quic

[2017-12-24 14:46] Dragneel7 commented on #118
@redblobgames to make it more intuitive we can add fade out transition for the nodes that are being popped out and provide a different queue that contains all the popped out nodes in the respective order.
What are your thoughts regarding this?

[2017-12-24 15:19] Dragneel7 commented on #120
@redblobgames Can we show this by using the Romania example of the book by visualizing both the algorithms side by side depicting their queue side by sides and as we have prior knowledge of the data type of the node we can calculate the amount of memory space that would be required at each insertion or deletion of a node and showing that value to the reader to help them compare ?

[2017-12-24 22:25] redblobgames commented on #118
Animations are really tricky, especially because we have both a “step” style (previous/next buttons) and a “random access” style (using the slider).

I think before/after is making the reader compare the two to figure out where the changes are happening. Fade-out might work but I think we might want different animations for each diagram:

1. BFS: this is a *queue* so all the nodes can slide left e

[2017-12-24 22:28] redblobgames commented on #120
I think the number of nodes in the queue is a fine proxy for the amount of memory, and it would be easier to understand than number of bytes.

The Romania example might work. It is fairly small though, and I don't know if iterative deepening will be that much different for small graphs. We might need a much larger graph to show the difference. I don't know :)

[2017-12-24 22:35] redblobgames commented on #134
Sure, go for it. I think the 8-Queen problem is probably better for chapter 4 or 6. We have lots of search visualizations in chapter 3 already. We could use more visualizations of the techniques in chapter 4 and 6 :-)

[2017-12-25 16:38] Dragneel7 commented on #134
I will start working on it.

[2017-12-25 23:09] Dragneel7 commented on #120
@redblobgames  That makes sense, implementing the above in a small graph want be much help.
Maybe we can form an larger graph and show it, but it will have a problem due to limited width of the screen.

[2017-12-27 04:20] Dragneel7 opened #135 "Chapter Navigation"
When we click on a link either in header or index page it leads the reader to the specified folder. Would it not be more reasonable to navigate the reader directly to index.html in that respective folder.
![deepinscreenshot_20171227094657](https://user-images.githubusercontent.com/24193342/34370602-4c8f3df4-eaeb-11e7-9fa9-b09a42b1f440.png)

[2017-12-27 04:51] redblobgames commented on #135
Because browsers do not allow some features over file:/// URLs, many of the diagrams do not work with file:/// URLs anyway. So it may not help much to change this. You will need to run a local webserver (see [the wiki](https://github.com/aimacode/aima-javascript/wiki/Building) for a python command to start the local webserver). The file:/// URLs are for debugging only, and when debugging it is som

[2017-12-27 04:54] redblobgames commented on #120
I agree, a larger graph might work. The bidirectional search graph shows hundreds of nodes; something like that might work to show the concept of iterative deepening.

[2017-12-27 19:25] Dragneel7 commented on #134
@redblobgames Hi, I have decided to put this visualization in chapter 6 under subheading "Minimum-Conflict" in reference to the book. As of now I have completed the algorithm of the function and am thinking of using "http://chessboardjs.com/" to make the chessboard. It is a free opensource js library under MIT License. But doing so requires me to write a small amount of javascript within the html

[2017-12-27 23:30] Dragneel7 commented on #134
@redblobgames Please review the PR. I have a bit of trouble in the code which i would like to clarify.
Thanks.

[2017-12-28 21:52] Dragneel7 opened #137 "Ch3- A* navigation link doesnot work"
The navigation link for the A* search [ A Star Search ] algorithm in ch3 Solving-Problems-By-Searching does not work because the the id it is referring to has been wrongly mentioned and should be "#aStarSearchBox" instead of "#a-star-search".

[2017-12-28 21:58] Dragneel7 commented on #121
@redblobgames I think the example of 8 puzzle game as shown in the book to depict the above can be useful in the visualization. The first 2 points have been properly elaborated using that example but I am not sure about the 3rd one.

[2017-12-31 10:22] utkarsh23 opened #139 "Add sticky footer and remove horizontal scroll"
I've noticed the following *two* issues.
* **I think its better if we have a sticky footer for the index page**
![ss](https://user-images.githubusercontent.com/12075549/34460907-9ade833e-ee42-11e7-9dba-9f063c07122c.png)

* **Remove horizontal scroll**
![ss](https://user-images.githubusercontent.com/12075549/34467469-dbf9ec56-ef18-11e7-845f-a93b913c7a90.png)

I'd like to take up this issue

[2018-01-01 21:41] redblobgames commented on #139
These look like two separate issues.

For web design features like sticky footers, we are waiting for someone who is working on the web design part of this project (come to the gitter if you want to chat more), so I recommend not spending much time on this until you can talk to that person (once they join the project).

For the scrollbar, it is a bug - please file it as a separate github issue so

[2018-01-03 11:03] utkarsh23 commented on #139
Alright that's cool :)

[2018-01-03 11:03] #139 closed

[2018-01-03 11:18] utkarsh23 opened #141 "Remove Horizontal Scroll"
![ss](https://user-images.githubusercontent.com/12075549/34518554-d9f6ea4c-f0a5-11e7-8715-ced170d47101.png)
There shouldn't be a horizontal scroll.

[2018-01-03 14:56] redblobgames commented on #137
Thanks!

[2018-01-03 14:56] #137 closed

[2018-01-03 15:02] #141 closed

[2018-01-03 15:09] redblobgames commented on #121
For choice of heuristics, I think we would want to show a graph of all the states, the larger the better. For example the bidirectional search visualization [here](http://aimacode.github.io/aima-javascript/3-Solving-Problems-By-Searching/#bi-directional-bfs) is large enough that you'll be able to see the difference a heuristic makes. Here's an example with A\* search over a maze — light blue is us

[2018-01-03 19:39] Dragneel7 commented on #121
The 8 puzzle problem graph isn't very large and the difference in heuristics is displayed by showing the no. of states visited and the branching ratio. It was used in the book for the same but I don't know if it will meet our requirements here.

[2018-01-04 18:48] Dragneel7 opened #143 "Introduction page is blank"
The introduction page is completely blank. I Believe it should give some information about the book and what its aims are.

[2018-01-05 04:29] redblobgames commented on #143
It probably depends on how AIMA intends to use this site. It's possible they'll integrate the visualizations into the book's site, instead of keeping this as a standalone site. I don't know.

[2018-01-05 17:50] redblobgames commented on #143
Happy to discuss more on the [gitter chat](https://gitter.im/aimacode/Lobby)

[2018-01-10 03:42] marcos0318 commented on #59
Hello, I am interested in implementing visualizations of this chapter. I am planning to start with the visualization of Markov chain or HMM. This is a good reference, http://setosa.io/blog/2014/07/26/markov-chains/  I am planning to visualizations similar to this, but make some improvement

[2018-01-10 23:56] redblobgames commented on #59
@marcos0318 Cool. If you're wanting to do this as part of Google Summer of Code, come visit the [gitter chat](https://gitter.im/aimacode/Lobby) before you put a lot of work into this.

[2018-01-15 20:34] HitRam commented on #120
As far as I understand, iterative deepening has the following advantages -
1. It uses less space as compared to BFS.
2. It finds correct level of the goal node as BFS does and where DFS fails.

So I think, we can have 3 graphs similar to those in bidirectional BFS, one showing that Iterative deepening finds correct level of goal node in lesser space. Other showing BFS on similar graph, but require

[2018-02-15 18:18] kaushikgunda commented on #116
@redblobgames Hey, i wish to work on this.I want to propose a few representations and ask for improvements.
1. In the same grid, at every current state changing the colors of the surrounding cells based on whether they are unbacktracked or not and also showing arrows for the all the directions of untried.
2. Showing three grids, one for actual movement, one for the untried and one for the unbacktr

[2018-02-15 21:25] redblobgames commented on #116
@kaushikgunda If you are interested in GSoC 2018, then be sure to read https://github.com/aimacode/aima-gsoc and contact the mentor. If you are NOT interested in GSoC, then yes, feel free to work on this issue, but I am no longer on this project so you may have to wait until there are new people who start working on it.

[2018-02-17 16:51] johannkaiser opened #145 "Missing end bracket"
https://github.com/aimacode/aima-javascript/blob/350c0da5ac75d12f8a1b620bb6db8cd38459720b/2-Intelligent-Agents/index.html#L67

`<table class="agent-actions"` should have a `>` at the end.

[2018-02-17 16:52] johannkaiser opened #146 "Missing </div> tag"
There is a `</div>` tag missing at the very end of the HTML file.

[2018-02-19 20:37] Dragneel7 commented on #146
nice catch !!!

[2018-02-21 20:31] samuelgoto opened #147 "Does the project requires the programmer to create the complete webpage or the animation exclusively?"
From [original thread](https://gitter.im/aimacode/Lobby?at=5a895f5e8f1c77ef3a209751).

The web page skeleton is already created. I think you'd spend most of your time building the animations exclusively, but some of your time integrating/embedding it with the rest of the site.

Here is an example of the final product:

http://aimacode.github.io/aima-javascript/3-Solving-Problems-By-Searching/

[2018-02-21 20:38] samuelgoto opened #148 "I was going through the repository, could someone help me with what could be the possible start for me to contribute?"
From [original thread](https://gitter.im/aimacode/Lobby?at=5a895f5e8f1c77ef3a209751).

I collected some general guidance [here](https://github.com/aimacode/aima-javascript/wiki/GSOC-2018).

[This](https://github.com/aimacode/aima-javascript/wiki/GSOC-2018#how-to-apply) is what the application
process is going to look like.

If you feel like you are ready to get started contributing, I'd start at [

[2018-02-21 20:41] samuelgoto opened #149 "Application need to be send after 12th March as per GSoC or we can have a review of it earlier too?"
From [original thread](https://gitter.im/aimacode/Lobby?at=5a89ce126fba1a703a6b40b0).

The application deadline is [March 27th](https://github.com/aimacode/aima-javascript/wiki/GSOC-2018#what-is-the-timeline).

Between February 12th and March 27th I'll be reviewing applications and helping discuss project ideas.

So, to answer your question, "we can have a review of it earlier too?" -- yes.

[2018-02-21 20:43] samuelgoto commented on #149
@redblobgames goes: "I think after 12 March, you're allowed to submit the application as "draft" and then you can ask the mentor to give you comments. Once you're finished with comments you can mark it as "final". Or you can put the draft application on gist or google docs or some other site, and ask the mentor to review that."

You are welcomed to send me a draft anytime now and I'll do my best t

[2018-02-21 20:49] samuelgoto opened #150 "PRs even like document errors to enhance the chance that I'm chosen"
Here is a good breakdown of [what we are looking for](https://github.com/aimacode/aima-javascript/wiki/GSOC-2018#what-are-we-looking-for).

We'll be looking at things in this order:

* design
* engagement
* coding

I think PRs fixing document errors count points on engagement (e.g. you'll show that you have read the code and have found incremental ways to make it better) and possibly coding (e.g.

[2018-02-21 20:51] samuelgoto opened #151 "Can someone suggest me if I could show interest in both in my proposal?"
From [original thread](https://gitter.im/aimacode/Lobby?at=5a8bf12c8f1c77ef3a2ec53e).

'''Both aima-javascript and aima-exercises seems related to web development, although I understand that aima-javascript focuses more on the algorithm animation. Can someone suggest me if I could show interest in both in my proposal? Since the mentors are different does that require me to submit two separate prop

[2018-02-22 00:39] samuelgoto opened #152 "Are you looking for volume / coverage or depth / substance?"
The direction that I'm getting from Peter is that, given the choice, we'd rather see fewer (e.g. 1 or 2) but higher quality visualizations (e.g. it complements substantially the learning experience from reading the book alone or attending the class alone) than lots (e.g. 10+) of low quality visualizations (e.g. there is better material out there).

I think this is a reasonable trade-off because it

[2018-02-22 22:23] Dragneel7 commented on #149
hi @samuelgoto  can we mail you the drafts ?

[2018-02-24 10:11] Dragneel7 opened #154 "Ch7. Logical agents : Wumpus world"
Presently, the implementation of the Wumpus world environment is not complete. I am planning on implementing  an autonomous logical agent for the wumpus world.
I wish to re-implement the environment. @samuelgoto Can I re-write the current code( one generating the environment) so that it can communicate with my code.
I am facing a minor issue, it would be really helpful if we can discuss on it.

[2018-02-24 16:31] samuelgoto commented on #152
I wrote down more concretely how we are defining quality [here](https://docs.google.com/document/d/1urwDfVBTCcXL4hucyyMXzrQTyzLrvOAxCNfV_g4dSB4/edit#heading=h.doovymhvvs52).

[2018-02-24 17:08] samuelgoto commented on #154
I'd like to make sure we can discuss design first and code second. I wrote down what I'm looking for in terms of [design quality](https://docs.google.com/document/d/1urwDfVBTCcXL4hucyyMXzrQTyzLrvOAxCNfV_g4dSB4/edit#heading=h.bnv1qi9ep909). [Procedurally](https://github.com/aimacode/aima-javascript/wiki/GSOC-2018#bonus-points-show-us-a-sample-of-your-best-work) I'm thinking that we want to first de

[2018-02-25 17:48] Dragneel7 commented on #154
I have shared with you a Google doc regarding the same.

[2018-02-26 07:06] Anisha1234 commented on #134
Hello,
I have worked on the 8-Queen problem which is hosted [here](https://anisha1234.github.io/blog-2.html).
I went through all the suggestions and recommendations from @redblobgames  and @samuelgoto from the docs and have come up with it.
I agree with the previous contributors regarding the suggestion to let the user fiddle with the problem itself before presenting the solution to solve the prob

[2018-02-26 19:17] Dragneel7 commented on #134
@Anisha1234 That is nice work. I have a suggestion for the min-conflict visualization. The algorithm starts by assigning random values and then minimizes the conflicts step by step. So you can start by random arrangement of 8 Queens and then the show the reader where the queen he selects(as you have done now).

[2018-02-26 19:29] Dragneel7 commented on #151
For the aima-javascript, can we mention our web-development projects in the proposals.

[2018-02-28 17:55] Dragneel7 commented on #154
[link](https://dragneel7.github.io/html/wumpus.html) The is still a work in progress, I have mentioned about the details in the doc.Kindly have a look at them.

[2018-02-28 18:02] vishakha-lall opened #157 "A design idea to re-implement Genetic Algorithm visualisation"
Hi @samuelgoto  !
As suggested by @redblobgames on the Gitter channel, I have been working on creating an interactive static blog page to demonstrate my abilities to implement a design. ([Point 6- Prototype](https://github.com/aimacode/aima-javascript/wiki/GSOC-2018)) I do understand that you require students to portray design skills and the understanding to create visualisations for the reader.
I

[2018-02-28 19:08] samuelgoto commented on #157
That sounds like a reasonable way to go. I keep making these instructions
better and better, so please take a look:

https://github.com/aimacode/aima-javascript/wiki/GSOC-2018

I feel strongly that we should align things first in a design doc rather
than code or a prototype: it is much faster to iterate and to give feedback
on a design doc with wireframes than in PRs and code. I am very confident

[2018-03-01 06:08] vishakha-lall commented on #157
@samuelgoto I have worked on a design document to illustrate my idea. Please go through this and let me know how the idea sounds. I have added necessary drawings to depict it too.
[Here is the document.](https://docs.google.com/document/d/1tVjPrfAF2FqptHehgYuHUPnCEKdpk9fT_afRMPOuHdI/edit?usp=sharing) I have enabled comments so that we can discuss the modifications on the document itself. Waiting f

[2018-03-01 10:59] Dragneel7 commented on #154
@samuelgoto [here](https://docs.google.com/document/d/1Y_gy-ZptdXqszRGcUhQ46_Tbu6MDIMZWR4GfmRkxuNw/edit?usp=sharing) is a design doc for the wumpus world visualization. I have looked into the points you pointed out and have suggested a few new ways to make the implementation more user engaging and informative.

[2018-03-01 11:17] Anisha1234 commented on #154
Hello @Dragneel7  and @samuelgoto,
I have also been working on Wumpus World. [Here](https://docs.google.com/document/d/1LWZwTHcK9167XZ0KFPoXrwpQEA9gBkCcC01C3JEOUK0/edit?usp=sharing) is my design doc.  I will be glad if you could provide some feedback.
Thank You

[2018-03-01 11:30] Dragneel7 commented on #154
The idea of not showing the positions of components is good, maybe when the
reader goes on we can ask him to construct the environment using the
knowledge base he has created.

On Mar 1, 2018 4:47 PM, "ANISHA SWAIN" <notifications@github.com> wrote:

[2018-03-01 11:41] Anisha1234 commented on #154
@Dragneel7 Thanks for your suggestion. This will be a good approach.

[2018-03-01 12:06] vishakha-lall commented on #157
I have added a wireframe to the document too.

[2018-03-01 18:36] samuelgoto commented on #134
Can you kick off a design doc and send this to us in this thread? It is very hard for us to comment/collaborate/iterate on your design in the form of a HTML/JS/CSS prototype.

Start with a design doc (recommendation: use google docs and google diagrams in it) to lay out your narrative, bigger diagrams, get some feedback and when you have something solid you move on to a prototype.

Please follow [

[2018-03-01 18:52] samuelgoto commented on #157
I left some comments in your docs. High level, I think there is a major narrative missing here: there is no beginning, no middle and no end. No progressive flow and antecipation being built. No motivating example. You want to work on that first I think.

[2018-03-02 05:03] vishakha-lall commented on #157
I have gone through your feedback. I now have a better idea of what you are looking for. I'm making some changes in the document.

[2018-03-02 17:01] vishakha-lall commented on #157
I have made modifications to the previous document. Please review :) I would love to get your feedback. [Here ](https://docs.google.com/document/d/1tVjPrfAF2FqptHehgYuHUPnCEKdpk9fT_afRMPOuHdI/edit?usp=sharing)is the document.

[2018-03-02 17:18] Dragneel7 commented on #154
I have improved the design doc, and incorporated the narrative as you pointed out. Please review.
link: [here](https://docs.google.com/document/d/1Y_gy-ZptdXqszRGcUhQ46_Tbu6MDIMZWR4GfmRkxuNw/edit)
Thanks

[2018-03-03 11:36] vishakha-lall commented on #157
Noting @redblobgames 's suggestions for the design of the individual entity, I have added more potential alternatives and supplementary ideas. Please go through them and provide feedback :)
[Here](https://docs.google.com/document/d/1tVjPrfAF2FqptHehgYuHUPnCEKdpk9fT_afRMPOuHdI/edit) is the document.

[2018-03-03 17:27] Anisha1234 commented on #154
Hello @samuelgoto, Initially I was a bit confused about the concept of the design doc but this time I have tried to follow your suggestion and recommendations. I have shared a new google doc with you, explaining my ideas to visualize the wumpus world problem. Kindly review it and let me know the further modifications if needed.
Thank You

[2018-03-03 17:42] Dragneel7 commented on #130
Hi , I had worked upon this visualization. The code works as desired. but as you pointed out [here](https://docs.google.com/document/d/1Y_gy-ZptdXqszRGcUhQ46_Tbu6MDIMZWR4GfmRkxuNw/edit) is a design doc for the same. @redblobgames  @samuelgoto  Please review.
Thanks

[2018-03-03 20:53] samuelgoto opened #158 "Project proposals"
Hey all, here is the list of the open proposals that I'm going through in [this format](https://github.com/aimacode/aima-javascript/wiki/GSOC-2018) with [these guidelines](https://docs.google.com/document/d/1urwDfVBTCcXL4hucyyMXzrQTyzLrvOAxCNfV_g4dSB4/edit#heading=h.qgldm4saveih).

Please add yours here (create a comment on this thread with a link to your design doc / prototype).

I'll use this th

[2018-03-03 21:14] Anisha1234 commented on #158
@samuelgoto the correct link to my updated design doc is [this](https://docs.google.com/document/d/1dxnAjhyj0wgjXHUBsi1huVHuZWEnF4nGxjd61eK-yjc/edit?usp=sharing). Please update the link mentioned in the thread.

[2018-03-03 21:15] Dragneel7 commented on #158
Hi @samuelgoto  I have made another design doc for Chapter2 Logical agents. Please review it's narrative.
proposal : [here](https://docs.google.com/document/d/1zALp6MT2BDRJKHvwM9MwwoJ-ux-AucebaJX63sPymiI/edit)
prototype : [here](https://dragneel7.github.io/html/agent_performance.html)
@redblobgames I had implemented the changes you suggested earlier.

[2018-03-03 21:23] samuelgoto commented on #158
done

[2018-03-03 21:24] samuelgoto commented on #158
Which one do you want me to look at (send link)? There is no point in me looking at more than one.

[2018-03-03 21:27] Dragneel7 commented on #158
The proposal is for another visualization, that is the design doc , please review that, it is more beneficial to get the doc right.

[2018-03-03 21:29] samuelgoto commented on #158
I'm only reviewing one design doc at a time per student. Not fair with others if I spend more time in multiple proposals from a single student, but most importantly also makes me lost. Most importantly, most of the comments I made in your first doc are applicable to your second doc, so no point in me reviewing it again.

Pick your favorite design doc for me to review and send me the link.

[2018-03-03 21:37] Anisha1234 commented on #158
@samuelgoto You have added the design doc for the Wumpus World Problem but the prototype shows the 8 Queen problem. The design doc for the 8 queen problem is [Here](https://docs.google.com/document/d/1AtXZoMxUHemuu_QZDxsCaXYZ6NPk7D2NmiQRpVFFMBI/edit?usp=sharing). If you will review only one doc at a time, then I request you to review the design doc for 8 queens first as I am more involved in that

[2018-03-03 21:42] samuelgoto commented on #158
Done. Changed your link to chapter 6.

There really is no point in me reviewing more than one design doc before you are all able to produce a *really* good one: all of my comments are going to be repeated and you'd rather get a *good* review in *one* doc than a *shallow* review in *two* docs.

So, pick your favorite, and send it over. Focus on that.

Like I said earlier, [quality, not quantity](ht

[2018-03-04 04:01] vishakha-lall commented on #158
@samuelgoto I have made modifications to the design document. Please review it again. :) I got some suggestions about the design from @redblobgames and made modifications and noted alternatives too. Kindly provide feedback about that too.
Also, my Github username is @vishakha-lall Please modify that in the table.

[2018-03-05 14:57] simanw304 commented on #158
@samuelgoto I updated my design doc, please kindly review it. Thanks! Here is the [link ](https://docs.google.com/document/d/1F8uxT0fM24NYA64153d9YeHgIjxRn9XlHSrjSKJIF_w/edit?usp=sharing).

[2018-03-05 15:24] migom6 commented on #152
Hey @samuelgoto, I am trying for gsoc this year. Since I have no prior work with visualization to show and have less time to solve bugs. Can I send a proposal with design and a prototype mainly an implementation of a part of the prototype?
Thanks 😃.

[2018-03-05 15:38] samuelgoto commented on #152
You want to follow this:

https://github.com/aimacode/aima-javascript/wiki/GSOC-2018

(apologies for the brevity, sent from phone)

On Mar 5, 2018 7:24 AM, "Madhurjya Pegu" <notifications@github.com> wrote:

[2018-03-05 23:01] samuelgoto commented on #158
Done. I think I have reviewed most of your docs right now, lmk if I'm blocking you.

[2018-03-06 13:34] vishakha-lall commented on #158
@samuelgoto I have made modifications to the design document. Please review it :)

[2018-03-08 23:32] Dragneel7 commented on #158
@samuelgoto I have updated my design doc, kindly review it.
Thanks.

[2018-03-13 01:16] regalhotpocket commented on #158
@samuelgoto I messaged you on gitter. I would like some feedback when you get time.

[2018-03-13 03:10] samuelgoto commented on #158
Hey all, apologies, I'm little behind my reviews. I'll try to get to them
in the next couple days.

On Mon, Mar 12, 2018 at 6:16 PM, regalhotpocket <notifications@github.com>
wrote:

--
f u cn rd ths u cn b a gd prgmr !

[2018-03-13 15:28] simanw304 commented on #158
@samuelgoto I updated my design doc, please kindly review it. Thanks!

[2018-03-16 00:50] samuelgoto commented on #158
Hey all -- I'm a bit (ok, a lot) behind my reviews and I won't be able to get to all of them soon. I'd recommend moving to [step 6](https://github.com/aimacode/aima-javascript/wiki/GSOC-2018) of my instructions and kick off an early prototype to give you the ability to have some code to show too.

In the meantime, I'm going to try to get to your design docs, but I would NOT block moving forward in

[2018-03-19 23:41] a-y-u-s-h commented on #158
@samuelgoto Here's my [proposal](https://docs.google.com/document/d/1jiChaFqvQ0NCvJK-aD7n4_KoTZ7YSi8c6IjgUbqxZzQ/edit#). Please add it to the list and kindly provide feedback. Thanks!

[2018-03-20 09:05] samuelgoto commented on #158
@a-y-u-s-h give me comment access (samuelgoto@gmail.com) ?

[2018-03-20 09:07] samuelgoto commented on #158
@a-y-u-s-h I looked at your doc. looks reasonable. you want to move on to [this step](https://github.com/aimacode/aima-javascript/wiki/GSOC-2018#bonus-points-show-us-a-sample-of-your-best-work).

[2018-03-20 09:14] samuelgoto commented on #158
@simanw304 done. you really want to focus on your introduction and the first 3-4 sentences.

Actually, just generally, across the board, I'm seeing a big challenge crafting a good introduction. I wrote some advice [here](https://docs.google.com/document/d/1urwDfVBTCcXL4hucyyMXzrQTyzLrvOAxCNfV_g4dSB4/edit#heading=h.21wjr8j9106d) in my doc, please read and factor that into your designs.

@redblobgam

[2018-03-20 09:24] Dragneel7 commented on #158
@samuelgoto Please review my proposal.
Link : [here](https://docs.google.com/document/d/1WPXaFvl71J34toWwH4S8AzQh4Id6wXeFlv2wWJ2LSjs/edit)

[2018-03-20 09:27] samuelgoto commented on #158
@Anisha1234 i took another pass at your doc. comments inline.

[2018-03-20 09:37] vishakha-lall commented on #158
@samuelgoto Please go through my design doc too :) [Here](https://docs.google.com/document/d/1tVjPrfAF2FqptHehgYuHUPnCEKdpk9fT_afRMPOuHdI/edit#heading=h.wn0z7c47ci2y)

[2018-03-20 10:43] samuelgoto commented on #158
@Dragneel7 i took a look at your doc. general feedback: I'm looking for [substance/quality](https://github.com/aimacode/aima-javascript/issues/152) rather than volume/quantity. In your proposal, it seems like you go through a lot of proposals rather than a single really well thought out one. I'd recommend you pick fewer things to do but do them more deeply/substantially/thoughtfully.

[2018-03-20 10:44] samuelgoto commented on #158
OK, i think now I have gone through everybody's proposal one more round. LMK if you need one more round by pinging this thread.

[2018-03-20 10:45] samuelgoto commented on #158
Also, LMK if you have started building a prototype and I'll add that to the table/list above too of things that I am tracking.

[2018-03-20 10:47] vishakha-lall commented on #158
@samuelgoto Have you reviewed my doc? I don't see any new comments. Also, I have worked on my prototype. It would be great if you have a look at it too. :) [Design Document](https://docs.google.com/document/d/1tVjPrfAF2FqptHehgYuHUPnCEKdpk9fT_afRMPOuHdI/edit#heading=h.wn0z7c47ci2y) [Prototype](https://vishakha-lall.github.io/genetic-algorithm-visualisation/)

[2018-03-20 10:48] Anisha1234 commented on #158
@samuelgoto Hope you are doing well. As per your review in my design doc, it seems that you thought I am trying to explain the Genetic Algorithm in brief. However, my doc is not about the genetic algorithm but it is about the backtracking DFS and Min-conflict algorithm. I had added the concepts of GA as per your previous suggestions in my prior design doc. So from the very beginning, I have built

[2018-03-20 10:51] samuelgoto commented on #158
@Anisha1234 lets move that to the doc itself. no reason to loop everybody into the details of your doc here.

[2018-03-20 10:58] samuelgoto commented on #158
@vishakha-lall done. Moved the discussion to your doc.

[2018-03-20 11:31] a-y-u-s-h commented on #158
@samuelgoto Sorry about that, I just updated access to [proposal doc](https://docs.google.com/document/d/1jiChaFqvQ0NCvJK-aD7n4_KoTZ7YSi8c6IjgUbqxZzQ/edit#). I'm having a slow internet connection today. Please place my entry into the submission table as well.

Also, I've followed instructions according to [that step](https://github.com/aimacode/aima-javascript/wiki/GSOC-2018#bonus-points-show-us-a

[2018-03-21 02:41] samuelgoto commented on #158
@kUSHAL0601 thanks, done, added to the list. I left some instructions [here](https://github.com/aimacode/aima-javascript/wiki/GSOC-2018#bonus-points-show-us-a-sample-of-your-best-work) and you want to work on your design doc before coding anything up much further. Take a look and follow that.

[2018-03-21 02:43] samuelgoto commented on #158
@a-y-u-s-h done. LMK if there is a link to a prototype that I'm missing. Otherwise, lets leave the comments specifically about your design to your design doc: no point in discussing it here in the larger group.

[2018-03-21 06:52] SouravInsights commented on #158
Hi @samuelgoto thanks for reviewing my proposal and adding me to the list.. I've also designed a prototype. Can you update it in the list? Here is the [link](https://souravinsights.github.io/LearnAlgorithm/) of the prototype.

[2018-03-21 09:50] samuelgoto commented on #158
done.

[2018-03-21 17:00] kUSHAL0601 commented on #158
Hie @samuelgoto . So following your advice on making a design document, I made a new animation for Markov Decision Process, following the guidelines and making a design doc. I found making design doc for submitted prototype useless as I should make design doc first. Please see the new animation and the design doc and let me know your feedback. I would love to here from you.

Design doc is availabl

[2018-03-22 15:28] kUSHAL0601 commented on #158
Hie @samuelgoto  any updates on design doc ?

[2018-03-22 17:19] a-y-u-s-h commented on #158
@samuelgoto I haven't recieved comments on my proposal yet as well, have a look please! (I have given public comment access now). To show design skills,  narration, and coding skills (prototype) I'm working on a [blog](a-y-u-s-h.github.io/blog) post (prototype post doesn't exist yet), I'll notify again when it's satisfactory!

[2018-03-24 00:28] a-y-u-s-h commented on #158
@samuelgoto Hello! My design doc is now included [here in the proposal itself](https://docs.google.com/document/d/1jiChaFqvQ0NCvJK-aD7n4_KoTZ7YSi8c6IjgUbqxZzQ/edit?usp=sharing) at the end.

Prototype is included in a [(WIP) blog post](https://a-y-u-s-h.github.io/blog/posts/20-03-2018/). I have also linked and explained my work on protoype in the doc.  Please have a look and please give some feedba

[2018-03-24 08:35] a-y-u-s-h commented on #103
Hey! I am interested in this chapter. Here's a snap of what I have done yet :

![2018-03-24_05-39-06_screenshot](https://user-images.githubusercontent.com/19586719/37861959-6bd35474-2f6b-11e8-8ff9-ce69afaf7bae.png)

The output updates in real time when input is changed or backspaced. It feels quick and nice. You can see it [here](https://a-y-u-s-h.github.io/blog/posts/20-03-2018/). Let me know wha

[2018-03-25 03:09] Aditya21196 commented on #158
@samuelgoto  Hello sir, sorry to be this late. I have made a [proposa](https://goo.gl/Q6UpSB) and I want to work on implementation of genetic algorithms. My design doc is at the end of the proposal. The link to the current version of the implementation only has some basic functions which I will use to get to the final result. The link is [here](https://bot-fight.firebaseapp.com/). Please add both

[2018-03-25 16:08] muzzart commented on #158
Hello @samuelgoto, sorry for being so late. I've made a proposal to work on 10. Classical Planning and 18. Learning from Examples [here](https://docs.google.com/document/d/1Ot6a-7zIycVsBiyD-bCEQ14-ykIEQeJkvkaFAU1lXvw/edit?usp=sharing). I've pointed to the my graphics and graphics programming work. Kindly review it. Thank you.

[2018-03-25 16:50] samuelgoto commented on #158
Friendly reminder that the submission of proposals end momentarily. Please use the official submission form and include all the data: about yourself, your plan for the summer and a sample of your best work (link to existing work, design docs and/or prototypes).

Good luck to you all, Sam

[2018-03-25 16:53] samuelgoto commented on #158
Also, chances are I won't be able to get to any of your docs/links before the end of the submission date (in europe at the moment for work), so I'd do my best to find information online and between other students and make as much progress on your own as you can. Good luck again, Sam

PS selection criteria at links I sent earlier. Optimize for those. Sam

[2018-03-25 22:02] joel-huang commented on #158
Uh oh! I'd have wanted to share my prototype ([hopeful link](https://joel-huang.github.io/aima-visualization/hill_climbing.html)) for review after working with it for two days, but it seems I'm a little bit too late :/ I guess the official submission will have to do! Good luck everyone!

[2018-03-29 01:04] samuelgoto commented on #158
Alright, closing this as I got all of your proposals (and surprisingly many others) at the submission form*, so will be using that now to coordinate rather than this thread.

Good luck you all, it was great seeing so many of your drafts and I hope you have learned something cool in the process (I know I have: Brett Victor's work is pretty awesome!!!).

Will report back once we make a decision on w

[2018-03-29 01:04] #158 closed

[2018-04-21 06:22] kUSHAL0601 opened #160 "A design idea for chapter 17: Making Complex Decissions"
@samuelgoto , I was planning to work on the design of the MDP networks and take on designing the Automated Vacuum Cleaner problem in POMDP. I am working on both the design docs. Let me know your idea about it. Let me know if you want any specific example for MDP, or I will be working with the table form itself.

[2018-05-11 07:45] Rishav159 opened #161 "Localization in partially observable Environment"
Hello,
During my last few days of GSoC last year, I was working on a visualization for localization in the partially observable environment from Chapter 4 (Beyond Classical Search). I am considering completing that visualization.
I see that aima-javascript has changed a bit since last year (For instance, as of last year, we were expected to create visualizations as a supplement with the book and w

[2018-09-18 15:39] mayankDhiman opened #167 "Missing CONTRIBUTING.md file"
I feel that new contributors are facing a problem as there is no CONTRIBUTING.md file in this repository.
Though there is a well maintained CONTRIBUTING.md file in aima-python repository but problem arrises for new comers desiring to contribute in other repositories.
Thus, there is a need for adding a CONTRIBUTING.md file in other repositories too to guid new contributors.

[2018-09-18 21:33] redblobgames commented on #167
It's true, there's no CONTRIBUTING.md file. In the meantime, the contribution instructions are [linked](https://github.com/aimacode/aima-javascript/wiki/How-to-Contribute) from the README.md file.

[2018-11-17 07:26] soham23 opened #168 "Chapter 5 - Tic Tac Toe - The Computer loses."
The page says the computer won't get anything worse than a draw. It does, though.
It doesn't display "O wins" instead, it displays "Draw".

![screenshot 15](https://user-images.githubusercontent.com/16370482/48658445-b9878e80-ea67-11e8-9a91-56615a3a2ffa.png)

[2018-12-11 08:56] AnimeshSinha1309 commented on #168
Yeah, Replicated the result, O(2,2) - X(3,3) - O(1,1) - X(2,3) - O (1,3) - **The Computer Lost, Two threats it cannot deal with** - X(1,2) - O(3,1), *The Human Wins, but the computer says draw*.

I guess this is an issue with the evaluation function, will try to solve the issue.

[2018-12-11 09:16] GaurangTandon commented on #168
Seems the file is @AnimeshSinha1309

https://github.com/aimacode/aima-javascript/blob/master/5-Adversarial-Search/draw.js#L123

It seems `board.gameState` is never being set to `1`.

[2018-12-11 10:17] AnimeshSinha1309 commented on #168
I don't think we should do this, I agree that that would fix the issue that I says game draw. But then that should never be possible if the reset of the decision tree is working.

[2018-12-11 10:19] GaurangTandon commented on #168
Yes, the fix is only intended to be temporary, until the decision tree is back up again.

[2018-12-11 13:45] AnimeshSinha1309 commented on #168
I pulled apart the value for each node, and it turns out that it is failing for the terminal states, that is when a side won. Here, there is no call to `this.board.value`, so if the game is won by a side, and the node is a leaf node, the output gets governed by
https://github.com/aimacode/aima-javascript/blob/3cf3bae09563fc19f49d02a878e037e6866ac566/5-Adversarial-Search/tree.js#L131
Which initiali

[2018-12-11 15:09] AnimeshSinha1309 commented on #168
Sorry, the previous hunch seems wrong. The tree when constructed fixes its leaf node and assigns then the apt values, so its not needed again. But the lines of code that are breaking it are:
https://github.com/aimacode/aima-javascript/blob/3cf3bae09563fc19f49d02a878e037e6866ac566/5-Adversarial-Search/tree.js#L142-L144.
Should this not be:
[code]
In any case, removing the alpha-beta pruning segment

[2018-12-11 16:02] AnimeshSinha1309 commented on #168
I have put together a solution. It works perfectly, please review and tell me if you can still beat the computer.

[2018-12-11 19:57] AnimeshSinha1309 commented on #27
Is there something I can start working on? I am relatively new so I would prefer one of the earlier chapters as passed to the later ones, but anything works.

[2018-12-11 20:40] regalhotpocket commented on #27
@AnimeshSinha1309 There are many open issues organized by chapter. I would pick one and start there, but you should probably check to see if anyone is working on them to be safe.

[2018-12-11 23:20] AnimeshSinha1309 commented on #27
Okay. Chapter 13. I wanna try implementing estimation of probabilities on a 4x4 grid.

[2018-12-12 01:33] soham23 commented on #168
Nope, I couldn't find a way to beat this one:
https://github.com/AnimeshSinha1309/AimaJavascript/tree/master/5-Adversarial-Search

[2018-12-16 21:57] AnimeshSinha1309 commented on #27
I did begin to work on Chapter 7 and 13. I have implemented the full Wumpus World game. Is there anyone here who can check if my code works and if I should continue working on this project. I have filed a Pull Request #171.

[2018-12-17 01:59] #168 closed

[2018-12-20 15:25] redblobgames opened #172 "Remove unused files"
`.babelrc`, `Gulpfile.babel.js`, `package.json` are obsolete. These were used in 2016 but are no longer being used as of 2017. First, check with the project maintainer (either Sam or Peter) to confirm that there are no plans to use these, then remove these files.

[2018-12-22 19:39] arzoo14 opened #173 "Setup Travis CI"
Setup Travis CI integration as it is a continuous integration platform, Travis CI supports the development process by automatically building and testing code changes, providing immediate feedback on the success of the change. Travis CI can also automate other parts of the development process by managing deployments and notifications.

[2019-01-01 17:35] jconallen commented on #27
I'd like to contribute some code I wrote to complete an independent study project
using this text.  I created a visualization for the Workspace and Configuration
Space of a simple two degree of freedom robot arm (in a 2D space).  It is based
off Figure 25.14 of the text.

I've hosted it on my own GitHub site for now;

https://github.com/jconallen/configuration-and-workspace

I would like to move i

[2019-01-02 05:21] parammittal16 commented on #172
@redblobgames happy to do this. @samuelgoto @norvig shall i remove these files ?

[2019-01-23 06:12] ayanb07 commented on #78
@redblobgames I think this bug is no longer valid. @regalhotpocket had changed the name as linked. So this bug is a closed bug I think.

[2019-01-23 15:46] #129 closed

[2019-01-23 15:49] redblobgames commented on #78
@ayanb07 Ahh you are correct.

[2019-01-23 15:49] #78 closed

[2019-02-04 17:40] #91 closed

[2019-02-05 02:04] #172 closed

[2019-02-05 02:05] redblobgames commented on #167
Ok, I've added one but it just points to the wiki.

[2019-02-05 02:05] #167 closed

[2019-02-05 02:11] redblobgames commented on #160
I am closing this assuming this is not being worked on. If you are still working on this, feel free to reopen.

[2019-02-05 02:11] #160 closed

[2019-02-05 02:16] redblobgames commented on #47
I'm closing this bug from 2017. The priority in 2018 was *not* uniformity across the codebase, but instead a focus on the end user. In 2019 uniformity across the codebase will again not be a priority. We can reopen this in 2020 if the maintainer decides to change this.

[2019-02-05 02:16] #47 closed

[2019-02-05 02:18] redblobgames commented on #1
I'm closing this, as nothing in 2017 or 2018 was written this way, and there is no plan to use any of this in 2019. We can reopen if the maintainer changes the plan.

[2019-02-05 02:18] #1 closed

[2019-02-05 17:18] redblobgames commented on #57
This chapter is essentially design-complete so I'm closing this issue. There are minor improvements that are filed as separate issues.

[2019-02-05 17:18] #57 closed

[2019-02-05 17:19] #58 closed

[2019-02-05 17:19] #59 closed

[2019-02-05 17:20] #60 closed

[2019-02-05 17:20] #62 closed

[2019-02-05 17:20] #65 closed

[2019-02-05 17:31] #116 closed

[2019-02-05 17:32] #123 closed

[2019-02-05 17:33] #124 closed

[2019-02-05 17:34] #68 closed

[2019-02-05 17:34] redblobgames commented on #72
Ch 5 was implemented in GSoC 2018

[2019-02-05 17:34] #72 closed

[2019-02-05 20:01] #146 closed

[2019-02-05 20:04] #115 closed

[2019-02-05 20:05] #119 closed

[2019-02-05 20:05] #77 closed

[2019-02-05 20:09] #145 closed

[2019-02-05 20:10] #143 closed

[2019-02-05 20:10] #135 closed

[2019-02-05 20:12] #103 closed

[2019-02-05 20:12] #88 closed

[2019-02-05 22:56] redblobgames commented on #161
Looks like Peter merged this even though you wrote "do not merge". I'm going to close this issue for now. The direction continues to be away from individual diagrams and towards explanations.

[2019-02-05 22:56] #161 closed

[2019-02-06 00:37] redblobgames commented on #134
Closing as this seems inactive

[2019-02-06 00:37] #134 closed

[2019-02-15 17:56] samuelgoto opened #174 "Project proposals - GSoC 2019"
Hey all, here is the list of the open proposals for GSoC 2019 (proposals for [2018](https://github.com/aimacode/aima-javascript/issues/158)) that I'm going through in this format with [these guidelines](https://docs.google.com/document/d/1gmJ_dObUvndAFPowP3Ah8MOhG1q4Um2CM4o2JMmznCc/).

Please add yours here (create a comment on this thread with a link to your design doc / prototype).

I'll use thi

[2019-02-15 18:31] redblobgames commented on #27
@AnimeshSinha1309 There is no one active on this project right now. If you are interested in GSoC, the guidelines are in the wiki (TL;DR is that you should not submit code, but instead write a project proposal).

@jconallen Looks cool! There is no one active on this project right now, and I think it's only accepting longer explanations of topics written with a mentor involved. @samuelgoto may want

[2019-02-15 18:31] #27 closed

[2019-03-17 19:01] samuelgoto commented on #174
@NamanZelawat that's a pretty awesome proposal, thanks for putting that together! I added that to the table and signaled that the action is on my side now. I'll take a look at your design doc and we can go from there.

[2019-03-17 20:26] NamanZelawat commented on #174
Thank you, sir .

[2019-03-19 13:06] Vishal260700 commented on #174
Hello Sam, this is my [proposal](https://drive.google.com/open?id=1_-ndkRXo0kNOnjnmeTvTrCz1sBO0p_NEsQreTcCAwjU) document for NeuroEvolution Algorithm and the [prototype](https://vishal260700.github.io/prototype/NEAT/). Please review it and suggest add-ons.

[2019-03-23 06:10] ashwinvaidya17 commented on #174
Hello @samuelgoto this is my [proposal](https://docs.google.com/document/d/10Q-Obisz1Ix7ylWUHDTNrlUR3ruZQExpavyH-al1qhE/edit?usp=sharing) for part 5, reinforcement learning. Please review it and suggest any changes or corrections.

[2019-03-25 18:28] savvysiddharth commented on #174
Hello @samuelgoto, please take a look at my [proposal](https://docs.google.com/document/d/1D8toMLQ7NvIPuZ6xSwSEKj20ny9JWxHxlc8U5JGNOa8/edit?usp=sharing), and give me suggestions if possible. I've partially implemented a few diagrams for the [prototype](https://savvysiddharth.github.io/prototype-gsoc/).

[2019-03-26 17:34] kareemalsawah commented on #174
Hello @samuelgoto, this is my [proposal](https://docs.google.com/document/d/1ViUsiJdA9CNVbV9oVQ9NUWx0WLVnvpwXLyA_YOl0pqA/edit?usp=sharing) for Chapter 18 "Learning from examples". This is my [prototype](https://kareemalsawah.github.io/Linear_Regression_Demo/) for one of the demos (demo 5) in my proposal. Any suggestions would be appreciated. Thanks in advance.

[2019-03-27 03:26] KanakalathaVemuru commented on #174
Hello @samuelgoto, this is my [design document](https://docs.google.com/document/d/1GuZo1sUaAtyJkMXppb397GqWaWIRUFxDPaOJUvE9Eig/edit?usp=drivesdk) for chapter 17 & 21. Please review it and suggest any corrections or changes. Thanks in advance.

[2019-03-29 18:00] samuelgoto commented on #174
Alright, I took an initial pass at all design docs / prototypes in this list. Ball on your side of court now.

[2019-04-05 23:54] samuelgoto commented on #174
I just took another pass at these design docs, wherever progress was made.

[2019-04-06 00:01] savvysiddharth commented on #174
@samuelgoto I made changes as you suggested earlier, I didn't get your comment this time, If possible can you take a look at my [design doc](https://docs.google.com/document/d/1D8toMLQ7NvIPuZ6xSwSEKj20ny9JWxHxlc8U5JGNOa8/edit?usp=sharing)?

[2019-04-06 01:33] jasmaa commented on #174
Hello @samuelgoto. Here are my [design doc](https://docs.google.com/document/d/15xQeYCdsgWQExhzr2Jr1bFe-H0ZNBTYtRsLGW2DCM_A/edit?usp=sharing) and [prototype](https://jasmaa.github.io/demos/aimacodejs2019/). It would help me out if you took a look at them. Thanks.

[2019-04-06 20:54] kareemalsawah commented on #174
I have made changes to my [design doc](https://docs.google.com/document/d/1ViUsiJdA9CNVbV9oVQ9NUWx0WLVnvpwXLyA_YOl0pqA/edit) but they were not reviewed. I also changed my [prototype to this](https://kareemalsawah.github.io/Intro_to_machine_learning/) to match my new design doc.

[2019-07-01 15:35] #174 closed

[2019-07-15 01:59] MichaelDimmitt opened #176 "Quickly open up all of the implemented chapters by their index.html"
Feel free to close this issue if out of scope of the project.
I found it helpful so I thought it would be nice to post for others. 👍

Quickly open up all of the implemented chapters by their index.html

## Demonstration script for Mac Computer below:
[code]
## Demonstration script for Linux Computer below:
[code]

[2019-07-15 02:00] #176 closed